{% extends 'base/base.html' %}

{% macro render_error(field) %}
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="user-login">
        <div class="user-login-header">
            <a href="#" class="user-login-type float-left">会员登陆</a>
            <a href="#" class="user-login-type float-right">管理员登陆</a>
        </div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="user-input-item first">
                <label for="">帐号:</label><input type="text" name="email_or_name">
                {{ render_error(form.email_or_name) }}
            </div>
            <div class="user-input-item">
                <label for="">密码:</label><input type="password" name="password">
                {{ render_error(form.password) }}
            </div>
            <!--<div class="user-login-forget">-->
                <!--<input type="checkbox"><label for="">记住密码</label> <a href="#">忘记密码</a>-->
            <!--</div>-->
            <input type="submit" class="user-submit-reg" value="登陆">

            <div class="user-reg-account">
                <span>还没有帐号?</span><a href="/register">注册</a>
            </div>
        </form>
    </div>
{% endblock %}