{% extends "base/base.html" %}
{% block content %}
    <div class="user-reg">
        <div class="user-reg-header">
            <div class="fast-register">快速注册</div>
            <div class="float-right">
                <a href="/login">已有帐号</a>
                <a href="">马上注册</a>
            </div>
        </div>
        <form action="" method="post">
            {{ register_user_form.hidden_tag() }}
            <div class="user-input-item first">
                <label for="">邮箱:</label><input type="email" name="email">
            </div>
            <div class="user-input-item">
                <label for="">用户名:</label><input type="text" name="name">
            </div>
            <div class="user-input-item">
                <label for="">密码:</label><input type="text" name="password">
            </div>
            <div class="user-input-item">
                <label for="">确认密码:</label><input type="text" name="password_confirm">
            </div>
            <div class="user-input-item captcha">
                <label for="">验证码:</label><input type="text" name="captcha_content">
                <img src="{{ captcha_url }}">
            </div>
            <div style="display:none">
                <input name="captcha_key" value="{{ captcha_key }}">
            </div>
            <input type="submit" class="user-submit-reg" value="立即注册">
        </form>
    </div>
{% endblock %}%