<div class="left-bar">
    <ul>
        <li class="left-list-first"><a href="javascript:;">幼教教材以及课件</a></li>
        <li><a href="/activities/policy/1">幼小衔接</a></li>
        <li><a href="/activities/news/1">幼儿园大班</a></li>
        <li><a href="/activities/events/1">幼儿园中班</a></li>
        <li><a href="/activities/research/1">幼儿园小班</a></li>
        <li><a href="/activities/activity/1">幼儿园托班</a></li>

        <li class="left-list-first"><a href="javascript:;">低幼读物</a></li>
        <li><a href="/activities/policy/1">幼儿启蒙</a></li>
        <li><a href="/activities/news/1">儿童文学</a></li>
        <li><a href="/activities/events/1">漫画绘本</a></li>
        <li><a href="/activities/research/1">科普百科</a></li>
        <li><a href="/activities/activity/1">其他</a></li>

        <li class="left-list-first"><a href="javascript:;">名师视频</a></li>
        <li><a href="/activities/policy/1">名师课堂</a></li>
        <li><a href="/activities/news/1">名师讲座</a></li>
        <li><a href="/activities/events/1">课外活动</a></li>
    </ul>
    <div class="left-adposition">

    </div>
</div>