@import "common/var"
@import "common/header"
@import "common/left_right_bar"
@import "common/slide_banner"
@import "common/content_section"
@import "common/rank_section"
@import "common/footer"
@import "common/login_register"

#youjiao-body
  height: auto
  margin: 0 auto

#main-noright-body
  +main-noright

.main
  width: $wrapper-width
  margin: 26px auto 0 auto
  min-height: 462px
  +clear-float

#main-body
  width: 756px
  box-sizing: border-box
  float: left
  padding-left: 24px
  padding-right: 24px

#main-home-body
  +main-noright

  .home-slides
    +clear-float
    .home-slides-main
      width: 732px
      height: 372px
      background: #CCCCCC
      float: left
      position: relative
    .home-slides-right
      padding: 0
      margin: 0
      float: left
      width: 220px
      height: 372px
      background: $background-brown
      margin-left: 24px
      .right-list-first
        height: 30px
        line-height: 30px
        +list-first

#main-school-body
  +main-noright

//activity
.news-page-t
  line-height: 34px
  color: $font-gray
  font-size: 18px
.news-list
  box-sizing: border-box
  border: 1px solid #CCCCCC
  min-height: 890px
  margin-bottom: 38px
  li
    position: relative
    padding-left: 28px
    line-height: 48px
    box-sizing: border-box
    &:nth-child(odd)
      background: $background-brown-2
    &:before
      position: absolute
      content: ' '
      display: inline-block
      width: 4px
      height: 4px
      background: $font-gray
      border-radius: 50%
      margin-top: 20px
      margin-left: -8px
  a
    color: $font-gray
.news-date
  width: 144px

.e-page-title
  line-height: 34px
  color: $font-gray-heavy
  font-size: 18px
.activity-content
  box-sizing: border-box
  border: 1px solid #CCCCCC
  padding: 80px 140px 0
  min-height: 950px
  .activity-title
    text-align: center
  .activity-author
    text-align: center
    line-height: 56px
.weekly-hot
  box-sizing: border-box
  height: 372px
  margin-bottom: 30px
.right-list
  li
    padding-left: 16px
    box-sizing: border-box
    overflow: hidden
    line-height: 30px
    a
      color: $font-gray
      font-size: 14px


#main-big-body
  width: 780px
  box-sizing: border-box
  float: left
  padding: 0 24px 56px
  +clear-float

.right-bar-small
  width: 220px
  float: left
  box-sizing: border-box
  ul
    padding-bottom: 26px
    li
      height: 30px
      padding-left: 16px
      color: $font-gray
      line-height: 30px
    a
     color: $font-gray


//product

.product-slides-main
  position: relative
  overflow: hidden

.product-container
  +clear-float
  box-sizing: border-box
  margin-top: 20px

.samples-imgs
  width: 484px
  height: 592px
  float: left
  .s-imglist-container
    width: 484px
    height: 100px
    margin-top: 26px
    overflow: hidden
  .s-imglist-w
    position: relative
    +clear-float
  .p-s-imglist
    width: 90px
    height: 90px
    box-sizing: border-box
    border-radius: 4px
    background: #CCCCCC
    float: left
    margin-right: 6px
    cursor: pointer
    img
      width: 100%
      height: 100%
  .s-img-active
    border: 2px solid $youjiao-pink
  //#simple-img-next
  //  display: block
  //  width: 22px
  //  height: 100px
  //  background: $gray-a3
  //  position: absolute
  //  right: 0
  //  &:after
  //    content: ' '
  //    display: block
  //    border-width: 10px
  //    border-style: solid
  //    border-left-color: white
  //    border-top-color: transparent
  //    border-right-color: transparent
  //    border-bottom-color: transparent
  //    margin-top: 36px
  //    margin-left: 6px

.product-info
  float: left
  width: 450px
  margin-left: 42px
  .product-title
    border-bottom: 1px solid #CCCCCC
    padding-bottom: 20px
    box-sizing: border-box
    h3
      font-size: 40px
    span
      float: right
      font-size: 17px
      line-height: 80px
      color: $font-gray-light
  table
    margin-top: 68px
    margin-left: 50px
    .product-info-detail
      text-align: justify
    tr
      line-height: 30px
  .product-button
    +clear-float
    padding-left: 20px
    margin-top: 116px
  .product-collection, .product-associate
    width: 160px
    height: 50px
    background: $youjiao-pink-2
    text-align: center
    float: left
    line-height: 50px
    color: white
    margin-left: 30px
    font-size: 22px
  .product-order
    margin-left: 50px
    margin-top: 54px
    font-size: 18px
    line-height: 28px
    .product-price
      color: $youjiao-pink-2

.product-detail-comments
  padding-bottom: 50px
  margin-bottom: 56px
  margin-top: 28px
  border: 1px solid #CCCCCC
  .detail-comment-title
    border-bottom: 1px solid #CCCCCC
    div
      display: inline-block
      width: 166px
      height: 60px
      color: black
      line-height: 60px
      text-align: center
    .book-detail-button
      background: $youjiao-pink-2
      color: white
      position: relative
      &:after
        content: ' '
        display: block
        position: absolute
        margin-left: 71px
        border-width: 12px
        border-style: solid
        border-top-color: $youjiao-pink-2

  .detail-comment-content
    box-sizing: border-box
    padding: 30px 20px
    img
      margin: 20px 20px
      width: 422px
      height: 422px
      background: #CCCCCC

.product-s-slides-main
  +clear-float
  position: relative

.courseware-slides-main
  overflow: hidden
  zoom: 1
  position: relative

.courseware-comment-content
    box-sizing: border-box
    padding: 30px 20px
    img
      margin: 20px 20px
      width: 422px
      height: 240px
      background: #CCCCCC

.other-associate-courseware
  box-sizing: border-box
  padding: 30px 20px
  border: 1px solid #CCCCCC
  +clear-float
  div
    float: left
  p
    text-align: center
  img
    margin: 20px 20px
    width: 422px
    height: 240px
    background: #CCCCCC

#main-page-body
  width: 732px
  margin: 0 auto
  margin-bottom: 56px
.page-banner
  width: 732px
  height: 280px
  background: #CCCCCC

.about-contact
  padding-left: 16px
  .about-contact-list
    color: $font-gray

.video-detail
  box-sizing: border-box
  border: 1px solid #CCCCCC
  min-height: 846px
  margin-bottom: 56px
  padding: 80px 80px 46px 80px

  .video-title
    line-height: 34px
    color: $font-gray
    font-size: 24px
    text-align: center
    margin-bottom: 46px

  .video-main-content
    text-align: justify

  .video-detail-v
    width: 572px
    height: 322px
    margin: 0 auto
    margin-top: 60px
    background: #CCCCCC

  .video-detail-v-t
    text-align: center
    margin-top: 13px

.about-content
  p
    color: $font-gray-light
    font-size: 14px
    text-indent: 30px

.activity-pagination
  display: table
  margin: 0 auto 56px
  +clear-float
  =active
    border: 1px solid $youjiao-font-pink
    background: $youjiao-font-pink
    a
      color: white
  li
    text-align: center
    box-sizing: border-box
    border: 1px solid $gray-a3
    color: $gray-a3
    width: 20px
    height: 20px
    line-height: 20px
    border-radius: 4px
    float: left
    margin: 0 8px
    a
      display: inline-block
      width: 100%
      color: $gray-a3
    &:hover
      +active
  .pagination-active
    +active

.research-home-list
  li
    padding-left: 20px
    &:before
      position: absolute
      content: ' '
      display: inline-block
      width: 4px
      height: 4px
      background: $font-gray
      border-radius: 50%
      margin-top: 8px
      margin-left: -8px


.vjs-big-play-button
  left: 42% !important
  top: 36% !important
  border-radius: 50% !important
  height: 80px !important
  width: 80px !important
