<div class="main-big-body">
    <span class="span1">名师活动</span>

    <div class="square"></div>
    <div id="content_img">
        <ul>
            <li style="margin-left:13px;"><img src=""><span>边霞教授</span><h4>博士生导师</h4></li>
            <li><img src=""><span>边霞教授</span><h4>博士生导师</h4></li>
            <li><img src=""><span>边霞教授</span><h4>博士生导师</h4></li>
        </ul>
    </div>
    <div class="body_content">
        <span class="span1">教研活动</span>

        <div class="square"></div>
        <ul>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
        </ul>
    </div>
    <div class="body_content">
        <span class="span1">教研活动</span>

        <div class="square"></div>
        <ul>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
            <li><a href="">教育部要求做好暑期安全学生工作</a><span>[2015-06-29]</span></li>
        </ul>
    </div>
</div>
