{% extends "base/base.html" %}

{% block css %}
    <link href="{{ 'research.css' | asset }}" rel="stylesheet">
{% endblock %}

{% block leftBar %}
    {% include 'research/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-big-body">
        <div class="section-block-wrapper">
            <div class="section-block-title-4">名师名园</div>
        </div>
        <ul class="research-home-teachers">
            <li>
                <a href="{{ url_for('activity_content.pages', page_title='humeizhen') }}">
                    <img src="http://7xlydq.com1.z0.glb.clouddn.com/humeizhen.jpg">
                </a>
                <h4><a style="color: black;" href="{{ url_for('activity_content.pages', page_title='humeizhen') }}">胡美珍</a></h4>
                <span>著名幼教专家</span>
            </li>
            <li>
                <a href="{{ url_for('activity_content.pages', page_title='jxgbdsyey') }}">
                    <img src="http://7xlydq.com1.z0.glb.clouddn.com/jxgbdsyey.jpg">
                </a>
                <h4><a style="color: black;" href="{{ url_for('activity_content.pages', page_title='jxgbdsyey') }}">江西广播电视艺术幼儿园</a></h4>
                <span>省级示范园</span>
            </li>
        </ul>
        <!--<div class="body_content">-->
        <!--<div class="section-block-title-4">教研活动</div>-->
        <!--<ul class="research-home-list">-->
        <!--{% for activity in data.research_events %}-->
            <!--<li>-->
            <!--<a href="{{ url_for('activity_content.research_post', id=activity.id) }}">{{ activity.title }}</a>-->
            <!--<span>[{{ activity.create_time.date() }}]</span>-->
            <!--</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
        <!--</div>-->
        <div class="research-home-news">
            <div class="section-block-wrapper">
                <div class="section-block-title-4">教研成果</div>
            </div>
            <ul class="news-list">
                {% for activity in data.research_result %}
                    <li>
                        <a href="{{ url_for('activity_content.research_post', id=activity.id) }}">{{ activity.title }}</a>
                        <span class="news-date float-right">[{{ activity.create_time.date() }}]</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block rightBar %}
    {% include 'research/home_right_bar.html' %}
{% endblock %}

{% block js %}
    <script src="{{ 'research.js' | asset }}"></script>
{% endblock %}
