<div class="right-bar-small">
    <div class="right-bar-slide">
        <ul class="rslides">
            <li><img src="{{ url_for('static', filename='image/icons/al.jpg') }}" style="width: 220px;height: 220px;" alt=""></li>
            <li><img src="{{ url_for('static', filename='image/icons/al.jpg') }}" style="width: 220px;height: 220px;" alt=""></li>
            <li><img src="{{ url_for('static', filename='image/icons/al.jpg') }}" style="width: 220px;height: 220px;" alt=""></li>
        </ul>
    </div>
    <div class="right-bar-list">
        <ul>
            <li class="right-list-first">最近教研动态</li>
            <li><a href="#">晚一年上学给孩dd</a></li>
            <li><a href="#">晚一年上学给孩ddd</a></li>
        </ul>
    </div>
    <div class="topics">
        <ul>
            <li class="right-list-first">热点教研活动</li>
            <li><a href="#">晚一年上学给孩dd</a></li>
            <li><a href="#">晚一年上学给孩ddd</a></li>
        </ul>
    </div>
</div>