{% extends "base/base.html" %}

{% block css %}
    <link href="{{ 'research.css' | asset }}" rel="stylesheet">
{% endblock %}

{% block leftBar %}
    {% include 'research/left_bar.html' %}
{% endblock %}

{% block content %}
    <div class="main-big-body">
        <div id="teacher2_head">
            <h3>教学教研-名师名园</h3>
            <h4>名园介绍</h4>
            <span>名师风采</span>
        </div>
        <div id="teacher2_content_img">
            <ul>
                <li><img src=""><span><h4>边霞教授</h4><h5>博士生导师</h5><br/><h6>
                    学前教育学国家重点学科艺术教育方向带头人。现任南京师范大学研究院副院长，中国教育学会教育学分会美誉专业委员会副理事长。</h6></span></li>
                <li><img src=""><span><h4>边霞教授</h4><h5>博士生导师</h5><br/><h6>
                    学前教育学国家重点学科艺术教育方向带头人。现任南京师范大学研究院副院长，中国教育学会教育学分会美誉专业委员会副理事长。</h6></span></li>
                <li><img src=""><span><h4>边霞教授</h4><h5>博士生导师</h5><br/><h6>
                    学前教育学国家重点学科艺术教育方向带头人。现任南京师范大学研究院副院长，中国教育学会教育学分会美誉专业委员会副理事长。</h6></span></li>
                <li><img src=""><span><h4>边霞教授</h4><h5>博士生导师</h5><br/><h6>
                    学前教育学国家重点学科艺术教育方向带头人。现任南京师范大学研究院副院长，中国教育学会教育学分会美誉专业委员会副理事长。</h6></span></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block rightBar %}
    {% include 'research/teacher_right_bar.html' %}
{% endblock %}

{% block js %}
    <script src="{{ 'research.js' | asset }}"></script>
{% endblock %}
