<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="right-bar-list" >
     <div id="teacher2_right_img"> <img src=""></div>
   <div class="teacher2_right_list">
      <span>热点名校</span>
       <ul>
           <li><img src=""><h4>XXX幼儿园</h4><h6>ssss</h6></li>
            <li><img src=""><h4>XXX幼儿园</h4><h6>ssss</h6></li>
            <li><img src=""><h4>XXX幼儿园</h4><h6>ssss</h6></li>
           </ul>
       </div>
    <div class="teacher2_right_list">
      <span>热点名师</span>
       <ul>
           <li><img src=""><h4>边霞教授</h4><h6>ssss</h6></li>
            <li><img src=""><h4>边霞教授</h4><h6>ssss</h6></li>
            <li><img src=""><h4>边霞教授</h4><h6>ssss</h6></li>
           </ul>
       </div>
    </div>
</body>
</html>