{% extends "base/base.html" %}

{% block css %}
    <link href="{{ 'research.css' | asset }}" rel="stylesheet">
{% endblock %}

{% block leftBar %}
    {% include 'research/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-big-body">
        <div class="e-page-title">教学教研-名师名园</div>
        <div class="research-introduce-switch">
            <a href="#" class="research-tab-s">名园介绍</a>
            <a href="#" class="research-tab-s active">名师风采</a>
        </div>
        <div class="research-introduce-tab display-none">
            名园介绍
        </div>
        <div class="research-introduce-tab">
            <ul class="research-introduce-teachers">
                <li>
                    <img src="">

                    <div>
                        <h4>边霞教授<span>博士生导师</span></h4>
                        <span>学前教育学国家重点学科艺术教育方向带头人。现任南京师范大学研究院副院长，中国教育学会教育学分会美誉专业委员会副理事长。</span>
                    </div>
                </li>
                <li>
                    <img src="">

                    <div>
                        <h4>边霞教授<span>博士生导师</span></h4>
                        <span>学前教育学国家重点学科艺术教育方向带头人。现任南京师范大学研究院副院长，中国教育学会教育学分会美誉专业委员会副理事长。</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block rightBar %}
    {% include 'research/teacher_right_bar.html' %}
{% endblock %}

{% block js %}
    <script src="{{ 'research.js' | asset }}"></script>
{% endblock %}
