<div class="right-bar-small">
    <div class="right-bar-slide">
        <ul class="rslides">
            <li><img src="{{ url_for('static', filename='image/icons/al.jpg') }}" alt="book"></li>
            <li><img src="{{ url_for('static', filename='image/icons/al.jpg') }}" alt="book"></li>
            <li><img src="{{ url_for('static', filename='image/icons/al.jpg') }}" alt="book"></li>
        </ul>
    </div>
    <div class="research-right-hot">
        <h4>热点名园</h4>
        <ul>
            {% for i in range(3) %}
                <li>
                    <img src="">

                    <div>
                        <h5>XXX幼儿园</h5>
                        <h6>ssss</h6>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="research-right-hot">
        <h4>热点名师</h4>
        <ul>
            {% for i in range(3) %}
                <li>
                    <img src="">
                    <div>
                        <h5>边霞教授</h5>
                        <h6>ssss</h6>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
