{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ 'product.css' | asset }}">
{% endblock %}

{% block leftBar %}
    {% include 'product/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-noright-body">

        <div class="e-page-title">产品展示-幼教教材-幼教图书分类-幼儿园大班-清凉一夏</div>

        <div>
            <div class="product-container">
                <div class="samples-imgs">
                    <img src="" alt="" style="width: 484px;height: 460px;background: #CCCCCC;">

                    <div class="s-imglist-w">
                        <div class="p-s-imglist s-img-active"><img src="" alt=""></div>
                        <div class="p-s-imglist"><img src="" alt=""></div>
                        <div class="p-s-imglist"><img src="" alt=""></div>
                        <div class="p-s-imglist"><img src="" alt=""></div>
                        <a href="javascript:;" id="simple-img-next"></a>
                    </div>
                </div>
                <div class="product-info">
                    <div class="product-title">
                        <h3>清凉一夏<span>幼儿园大班上册 1-5</span></h3>
                    </div>
                    <table>
                        <tr>
                            <td class="product-info-detail">主编：</td>
                            <td>xxx</td>
                        </tr>
                        <tr>
                            <td class="product-info-detail">责任编辑：</td>
                            <td>xxx</td>
                        </tr>
                        <tr>
                            <td class="product-info-detail">出版社：</td>
                            <td>xxx出版社</td>
                        </tr>
                        <tr>
                            <td class="product-info-detail">开本：</td>
                            <td>16开</td>
                        </tr>
                        <tr>
                            <td class="product-info-detail">版号：</td>
                            <td>xxx</td>
                        </tr>
                    </table>
                    <div class="product-button">
                        <div class="product-collection">添加收藏</div>
                        <div class="product-associate">关联课件</div>
                    </div>
                    <div class="product-order">
                        <p>定价：<span class="product-price">30.00元</span></p>

                        <p>如需购买请联系：0512-6917 3537</p>
                    </div>
                </div>
            </div>
            <div class="product-detail-comments">
                <div class="detail-comment-title">
                    <div class="book-detail-button">图书详情</div>
                    <div>图书评论</div>
                </div>
                <div class="detail-comment-content">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
       <script src="{{ 'product.js' | asset }}"></script>
{% endblock %}