{% extends "base/base.html" %}

{% block leftBar %}
    {% include 'product/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-big-body">
        <div class="e-page-title">产品展示</div>

        <div class="product-slide">
            <div class="product-slides-main">
                <ul class="rslides">
                    <li><img src="http://fakeimg.pl/731x240/" alt=""></li>
                    <li><img src="http://fakeimg.pl/731x240/" alt=""></li>
                    <li><img src="http://fakeimg.pl/731x240/" alt=""></li>
                    <li><img src="http://fakeimg.pl/731x240/" alt=""></li>
                    <li><img src="http://fakeimg.pl/731x240/" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="n-v-section-b">
            <div class="section-block-title-4">幼教教材</div>
            <ul class="n-v-section-list">
                {% for i in range(3) %}
                    <li>
                        <a href="/product/detail/">
                            <div class="nv-image-wrapper">
                                <img src="{{ url_for('static', filename='image/icons/al.jpg') }}" alt="">

                                <div class="nv-image-hover-layer"></div>
                            </div>
                            <h5>有趣的手影</h5>
                            <h6>幼儿园大班上册</h6>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="n-v-section-b">
            <div class="section-block-title-4">幼教教材</div>
            <ul class="n-v-section-list">
                {% for i in range(3) %}
                    <li>
                        <a href="/product/detail/">
                            <div class="nv-image-wrapper">
                                <img src="{{ url_for('static', filename='image/icons/al.jpg') }}" alt="">

                                <div class="nv-image-hover-layer"></div>
                            </div>
                            <h5>有趣的手影</h5>
                            <h6>幼儿园大班上册</h6>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="n-v-section-b">
            <div class="section-block-title-4">幼教教材</div>
            <ul class="n-v-section-list">
                {% for i in range(3) %}
                    <li>
                        <a href="/product/detail/">
                            <div class="nv-image-wrapper">
                                <img src="{{ url_for('static', filename='image/icons/al.jpg') }}" alt="">

                                <div class="nv-image-hover-layer"></div>
                            </div>
                            <h5>有趣的手影</h5>
                            <h6>幼儿园大班上册</h6>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block rightBar %}
    {% include 'product/right_bar.html' %}
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='vendor/js/responsiveslides.js') }}"></script>
    <script src="{{ url_for('static', filename='build/js/youjiao.js') }}"></script>
{% endblock %}
