{% extends "base/base.html" %}

{% block leftBar %}
    {% include 'product/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-big-body">
        <div class="e-page-title">产品展示</div>

        <div class="product-slide">
            <div class="product-slides-main">
                <ul class="rslides">
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/11.jpg?imageView2/2/w/1000" style="width: 731px;height: 240px;" alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/12.jpg?imageView2/2/w/1000" style="width: 731px;height: 240px;" alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/13.jpg?imageView2/2/w/1000" style="width: 731px;height: 240px;" alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/14.jpg?imageView2/2/w/1000" style="width: 731px;height: 240px;" alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/15.jpg?imageView2/2/w/1000" style="width: 731px;height: 240px;" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="n-v-section-b">
            <div class="section-block-wrapper">
                <div class="section-block-title-4">幼教教材</div>
            </div>
            <ul class="n-v-section-list">
                {% for i in range(1, 4) %}
                    <li>
                        <a href="/product/detail/">
                            <div class="nv-image-wrapper">
                                <img src="{{ '%s%s.jpg?imageView2/2/w/400'|format('http://7xj2zj.com2.z0.glb.qiniucdn.com/', i) }}" alt="">

                                <div class="nv-image-hover-layer"></div>
                                <div class="nv-price">30.00/套</div>
                            </div>
                            <h5>有趣的手影</h5>
                            <h6>幼儿园大班上册</h6>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="n-v-section-b">
            <div class="section-block-wrapper">
                <div class="section-block-title-4">幼教教材</div>
            </div>
            <ul class="n-v-section-list">
                {% for i in range(4, 7) %}
                    <li>
                        <a href="/product/detail/">
                            <div class="nv-image-wrapper">
                                <img src="{{ '%s%s.jpg?imageView2/2/w/400'|format('http://7xj2zj.com2.z0.glb.qiniucdn.com/', i) }}" alt="">

                                <div class="nv-image-hover-layer"></div>
                                <div class="nv-price">30.00/套</div>
                            </div>
                            <h5>有趣的手影</h5>
                            <h6>幼儿园大班上册</h6>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="n-v-section-b">
            <div class="section-block-wrapper">
                <div class="section-block-title-4">幼教教材</div>
            </div>
            <ul class="n-v-section-list">
                {% for i in range(7, 10) %}
                    <li>
                        <a href="/product/detail/">
                            <div class="nv-image-wrapper">
                                <img src="{{ '%s%s.jpg?imageView2/2/w/400'|format('http://7xj2zj.com2.z0.glb.qiniucdn.com/', i) }}" alt="">

                                <div class="nv-image-hover-layer"></div>
                                <div class="nv-price">30.00/套</div>
                            </div>
                            <h5>有趣的手影</h5>
                            <h6>幼儿园大班上册</h6>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block rightBar %}
    {% include 'product/right_bar.html' %}
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='vendor/js/responsiveslides.js') }}"></script>
    <script src="{{ url_for('static', filename='build/js/youjiao.js') }}"></script>
{% endblock %}
