{% extends "base/base.html" %}

{% block leftBar %}
    {% include 'home/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-home-body">
        <div class="home-slides">
            <div class="home-slides-main">
                <ul class="rslides">
                    <li><img src="http://placekitten.com/g/732/372" alt=""></li>
                    <li><img src="http://placekitten.com/g/732/372" alt=""></li>
                    <li><img src="http://placekitten.com/g/732/372" alt=""></li>
                    <li><img src="http://placekitten.com/g/732/372" alt=""></li>
                    <li><img src="http://placekitten.com/g/732/372" alt=""></li>
                </ul>
            </div>
            <ul class="home-slides-right">
                <li class="right-list-first">首页推荐</li>
            </ul>
        </div>
        <div class="textbook-advice">
            <div class="home-section-title">幼教教材推荐</div>
            <ul class="textbook-advice-list">
                <li>
                    <img src="" alt="">
                    <h5>有趣的手影</h5>
                    <h6>幼儿园大班上册</h6>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>有趣的手影</h5>
                    <h6>幼儿园大班上册</h6>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>有趣的手影</h5>
                    <h6>幼儿园大班上册</h6>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>有趣的手影</h5>
                    <h6>幼儿园大班上册</h6>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>有趣的手影</h5>
                    <h6>幼儿园大班上册</h6>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>有趣的手影</h5>
                    <h6>幼儿园大班上册</h6>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>有趣的手影</h5>
                    <h6>幼儿园大班上册</h6>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>有趣的手影</h5>
                    <h6>幼儿园大班上册</h6>
                </li>
            </ul>
        </div>
        <div class="book-center-advice">
            <div class="home-section-title">课件中心推荐</div>
            <ul class="book-advice-list">
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
            </ul>
        </div>
        <div class="book-center-advice">
            <div class="home-section-title">优秀课堂推荐</div>
            <ul class="book-advice-list">
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='vendor/js/responsiveslides.js') }}"></script>
    <script src="{{ url_for('static', filename='build/js/youjiao.js') }}"></script>
{% endblock %}
