<div class="left-bar">
    <ul>
        <li class="left-list-first"><a href="javascript:;">幼教教材以及课件</a></li>
        <li><a href="/school/lectures/">幼小衔接</a></li>
        <li><a href="/school/lectures/">幼儿园大班</a></li>
        <li><a href="/school/lectures/">幼儿园中班</a></li>
        <li><a href="/school/lectures/">幼儿园小班</a></li>
    </ul>
    <ul>
        <li class="left-list-first"><a href="javascript:;">低幼读物</a></li>
        <li><a href="/school/lectures/">幼儿启蒙</a></li>
        <li><a href="/school/lectures/">儿童文学</a></li>
        <li><a href="/school/lectures/">漫画绘本</a></li>
        <li><a href="/school/lectures/">科普百科</a></li>
        <li><a href="/school/lectures/">其他</a></li>
    </ul>
    <ul class="left-bar-subul-last">
        <li class="left-list-first"><a href="javascript:;">名师视频</a></li>
        <li><a href="/school/lectures/">名师课堂</a></li>
        <li><a href="/school/lectures/">名师讲座</a></li>
        <li><a href="/school/lectures/">课外活动</a></li>
    </ul>
    <div class="left-adposition">

    </div>
</div>