<div class="left-bar">
    <ul>
        <li class="left-list-first"><a href="javascript:;">幼教教材以及课件</a></li>
        <li><a href="{{ url_for('book_view.book_category', category='teach_book', level='幼小衔接班' )}}">幼小衔接班</a></li>
        <li><a href="{{ url_for('book_view.book_category', category='teach_book', level='大班') }}">幼儿园大班</a></li>
        <li><a href="{{ url_for('book_view.book_category', category='teach_book', level='中班') }}">幼儿园中班</a></li>
        <li><a href="{{ url_for('book_view.book_category', category='teach_book', level='小班') }}">幼儿园小班</a></li>
    </ul>
    <!--<ul>-->
        <!--<li class="left-list-first"><a href="javascript:;">低幼读物</a></li>-->
        <!--<li><a href="#">亲子书屋</a></li>-->
        <!--<li><a href="#">儿童绘本</a></li>-->
        <!--<li><a href="#">少儿畅销书</a></li>-->
        <!--<li><a href="#">获奖图书</a></li>-->
    <!--</ul>-->
    <ul class="left-bar-subul-last">
        <li class="left-list-first"><a href="javascript:;">名师视频</a></li>
        <li><a href="{{ url_for('activity_content.school_sub', category='lecture') }}">优秀讲座推荐</a></li>
        <!--<li><a href="{{ url_for('activity_content.school_sub', category='other') }}">其他视频</a></li>-->
    </ul>
    <div class="left-adposition">
        <img src="{{ url_for('static', filename='image/a-d.png') }}" alt="" style="width: 180px;height: 720px;">
    </div>
</div>