<div class="header">
    <div class="nav-wrapper">
        <div class="youjiao-logo">
            <img src="{{ url_for('static',filename='image/icons/61Logo.png') }}" alt="">
        </div>
        <div class="youjiao-nav">
            <ul>
                <li><a class="nav-active" href="">首页</a></li>
                <li><a href="">幼教动态</a></li>
                <li><a href="">产品</a></li>
                <li><a href="">教学教研</a></li>
                <li><a href="">课件中心</a></li>
                <li class="border-right-none"><a href="">幼教阅读</a></li>
            </ul>
        </div>
        <div class="header-right">
            <div class="header-right-top">
                <span>关于61幼教网</span>
                <span class="header-login"><a href="">登陆</a> / <a href="">注册</a></span>
            </div>
            <div class="search-input">
                <input type="text">
                <a class="search-button" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>