{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='build/css/pages.css') }}">
{% endblock %}

{% block content %}
    <div id="main-page-body">
        <div class="e-page-title" style="margin-top: -4px;margin-bottom: 4px;">关于我们</div>
        <div class="page-banner"></div>
        <div class="about-content" style="margin-top: 16px;padding-left: 10px;">
            <div class="e-page-title">企业介绍 / Allkids Introduction</div>
            <p>
                XXXXXXX有限公司是一家集教育技术创新、产品设计创新、网络培训创新、教育服务创新于一体，专业从事幼教项目研发、推广及服务的文化创意企业和高新技术企业，为全国幼儿园提供各类幼儿园教育装备，包括图书、玩教具、在线教育、教育课件、平板电脑、环创材料等。XX总部设在湖北武汉，并在北京、哈尔滨、沈阳、石家庄、太原、济南、郑州、西安、南京、合肥、杭州、成都、重庆、南昌、长沙、福州、深圳、兰州等22个城市设有培训中心。公司现有员工800余人。
            </p>

            <p>
                XXXX定位为中国幼教行业的综合服务机构，以“创造优质教育，培育一代新人”为经营使命，积极响应国家大力发展学前教育事业的号召，与教育部教育装备研究与发展中心合作成立了“幼儿园教育装备研究中心”，全面支持幼儿园科学保教工作，提供幼儿在园一日活动所需的多种材料。
            </p>
        </div>
        <div style="margin-top: 70px;">
            <div class="section-block-wrapper">
                <div class="section-block-title-4">联系我们</div>
            </div>
            <div class="about-contact">
                <div class="e-page-title">苏州智泰腾迪信息科技有限公司</div>
                <ul class="about-contact-list">
                    <li>地址：苏州工业园区林泉街377号公共学院1区3号楼441室</li>
                    <li>邮编：215000</li>
                    <li>电话：0512-69173575 , +86 18112549175</li>
                    <li>传真：0512-69173575</li>
                    <li>邮箱：wangbin@taidii.com</li>
                    <li>网址：www.taidii.com</li>
                </ul>
            </div>
            <div style="width: 120px;height: 120px;background: #ccc;float: right;margin-top: -138px;"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
       <script src="{{ url_for('static', filename='build/js/pages.js') }}"></script>
{% endblock %}