{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ 'pages.css' | asset }}">
{% endblock %}

{% block content %}
    <div id="main-page-body">
        <div class="e-page-title" style="margin-top: -4px;margin-bottom: 4px;">关于我们</div>
{#        <div class="page-banner">#}
{#            <img src="{{ url_for('static', filename='image/about.png')}}" style="width: 100%; height: 100%">#}
{#        </div>#}
        <div class="about-content" style="margin-top: 16px;padding-left: 10px;">
            <div class="e-page-title">企业介绍 / Allkids Introduction</div>
            <p>
                江西高校出版社创办于1989年，由江西省教育厅主办、主管。该社围绕中心，服务大局，做大做强教育出版事业，以重点图书出版和重点教材出版为突破口，带动编、印、发、管各项工作，目前已出版各类图书上万种，为社会文明的传承，为江西省教育事业的发展，做出了积极贡献。
            </p>

            <p>
                江西高校出版社图书发行有限公司是江西高校出版社的全资子公司，成立于1991年，注册资本2010万元，属国有企业，为一般纳税人单位，办公面积400余平方米，并拥有一座2800余平方米的钢化结构的标准防火仓库，现有员工37人。公司成立24年来，在江西省教育厅的扶持和江西高校出版社的正确领导下，在各合作单位的充分信任、支持下，全体员工顽强拼搏、诚信经营，在江西出版界树立了良好口碑。
            </p>
            <p>
                随着出版领域的进一步拓展，我社幼儿教育图书的出版、发行成绩显著。出版了《怎样做个好家长》（王占铭、谭虎主编）、《家庭教育的热门话题》（谭虎编著）、《学前儿童家庭教育》（彭建兰、胡小萍编著）、《家庭教育研究》（林碧英编著）等一批幼儿教育理论著作；自主研发、出版了《十万个为什么系列》、《小不点学长大系列》、《奥运小手工系列》、《侦探游戏系列》、《找不同》等几十个品种数百册的低幼读物，深得小读者的喜爱；《幼儿情感启蒙丛书》、《生命的故事丛书》等多种图画书受到境外出版商的青睐，达成了对外版权贸易。我社还有专业的幼儿教材编发队伍，先后代理了南京师大版、华东师大版等幼教教材在江西的宣传、推广和发行工作，积累了丰富的编辑出版发行幼儿图书的经验。
            </p>
            <p>
                近年来，我公司利用自身的出版资源和优势，投入重资，精心研发了一套体现《纲要》精神、渗透省情教育、符合江西幼教发展水平、适合省内各类幼儿园使用的精品幼教系列教材《幼儿多元能力实践操作手册》。该套教材自投入市场以来，受到业内众多园所的欢迎和赞赏。相信该套教材的出版、发行、推广、使用及不断完善必能使江西省幼教事业走上一个新台阶。
            </p>
        </div>
        <div style="margin-top: 70px;">
            <div class="section-block-wrapper">
                <div class="section-block-title-4">联系我们</div>
            </div>
            <div class="about-contact">
{#                <div class="e-page-title">苏州智泰腾迪信息科技有限公司</div>#}
                <ul class="about-contact-list">
                    <li>社址：南昌市洪都北大道96号</li>
                    <li>邮编：330046</li>
                    <li>电话：0791-88591905</li>
                </ul>
            </div>
{#            <div style="width: 120px;height: 120px;background: #ccc;float: right;margin-top: -138px;"></div>#}
        </div>
    </div>
{% endblock %}

{% block js %}
       <script src="{{ 'pages.js' | asset }}"></script>
{% endblock %}