{% extends "base/base.html" %}

{% block leftBar %}
    {% include 'school/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-school-body">
        <div class="e-page-title">幼教网校-优秀讲座</div>

        <div class="school-slides">
            <ul class="rslides">
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
            </ul>
        </div>
        <div class="video-section-lg">
            <div class="section-block-title-6">课件中心推荐</div>
            <ul class="video-section-list">
                {% for i in range(6) %}
                    <li>
                        <div class="v-image-wrapper">
                            <img src="{{ url_for('static', filename='image/icons/qinghua.png') }}" alt="">

                            <div class="v-image-hover-layer"></div>
                        </div>
                        <h5>青花瓷</h5>
                        <a href="" class="start-download">开始下载</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rank-section">
            <div class="section-block-title-7">优秀讲座排行榜</div>
            <div class="rank-section-list">
                <div class="rank-section-list-t">
                    <div class="rank-section-list-l">
                        <img src="" alt="">
                        <h5>1.xx幼儿英语</h5>
                    </div>
                    <div class="rank-section-list-c">
                        <div class="rank-section-list-tct">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>3.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                        <div class="rank-section-list-tcb">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>4.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rank-section-list-r">
                        <div class="rank-section-list-trt">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>7.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                        <div class="rank-section-list-trb">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>8.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rank-section-list-b">
                    <div class="rank-section-list-l">
                        <img src="" alt="">
                        <h5>2.xx幼儿英语</h5>
                    </div>
                    <div class="rank-section-list-c">
                        <div class="rank-section-list-bct">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>5.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                        <div class="rank-section-list-bcb">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>6.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rank-section-list-r">
                        <div class="rank-section-list-brt">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>9.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                        <div class="rank-section-list-brb">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>10.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='vendor/js/responsiveslides.js') }}"></script>
    <script src="{{ url_for('static', filename='build/js/youjiao.js') }}"></script>
{% endblock %}
