{% extends "base/base.html" %}

{% block leftBar %}
    {% include 'school/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-school-body">
        <h4>幼教网校 优秀讲座</h4>

        <div class="school-slides">
            <ul class="rslides">
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
            </ul>
        </div>
        <div class="good-lectures">
            <div class="good-lectures-title">课件中心推荐</div>
            <ul class="good-lectures-list">
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
            </ul>
        </div>
        <div class="good-lectures-rank">
            <div class="lectures-rank-title">优秀讲座排行榜</div>
            <div class="rank-list">
                <div class="rank-list-left">
                    <div><img src="" alt=""><h5>1.xx幼儿英语</h5></div>
                    <div class="border-bottom-none margin-top-13"><img src="" alt=""><h5>1.xx幼儿英语</h5></div>
                </div>
                <div class="rank-list-middle">
                    <div class="rank-list-item">
                        <img src="" alt="">

                        <div>
                            <h5>1.xxx孩子好性格</h5>
                            <h6>sssssssssss</h6>
                        </div>
                    </div>
                    <div class="rank-list-item">
                        <img src="" alt="">

                        <div>
                            <h5>1.xxx孩子好性格</h5>
                            <h6>sssssssssss</h6>
                        </div>
                    </div>
                    <div class="rank-list-item">
                        <img src="" alt="">

                        <div>
                            <h5>1.xxx孩子好性格</h5>
                            <h6>sssssssssss</h6>
                        </div>
                    </div>
                    <div class="rank-list-item border-bottom-none">
                        <img src="" alt="">

                        <div>
                            <h5>1.xxx孩子好性格</h5>
                            <h6>sssssssssss</h6>
                        </div>
                    </div>
                </div>
                <div class="rank-list-right">
                    <div class="rank-list-item">
                        <img src="" alt="">

                        <div>
                            <h5>1.xxx孩子好性格</h5>
                            <h6>sssssssssss</h6>
                        </div>
                    </div>
                    <div class="rank-list-item">
                        <img src="" alt="">

                        <div>
                            <h5>1.xxx孩子好性格</h5>
                            <h6>sssssssssss</h6>
                        </div>
                    </div>
                    <div class="rank-list-item">
                        <img src="" alt="">

                        <div>
                            <h5>1.xxx孩子好性格</h5>
                            <h6>sssssssssss</h6>
                        </div>
                    </div>
                    <div class="rank-list-item border-bottom-none">
                        <img src="" alt="">

                        <div>
                            <h5>1.xxx孩子好性格</h5>
                            <h6>sssssssssss</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='vendor/js/responsiveslides.js')  }}"></script>
    <script src="{{ url_for('static', filename='build/js/youjiao.js') }}"></script>
{% endblock %}
