<div class="left-bar">
    <ul class="left-bar-subul-last">
        <li class="left-list-first"><a href="javascript:;">幼教网校</a></li>
{#        <li><a href="{{ url_for('activity_content.school_sub') }}">优秀课堂</a></li>#}
        <li><a href="{{ url_for('activity_content.school_sub', category='lecture') }}">优秀讲座</a></li>
        <!--<li><a href="{{ url_for('activity_content.school_sub', category='other') }}">其他视频</a></li>-->
        {#        <li><a href="/school/product/">产品使用培训</a></li>#}
        {#        <li><a href="/school/teacher/">师资培训视频</a></li>#}
    </ul>
{#    <div class="left-adposition">#}
{#        <img src="{{ url_for('static', filename='image/a-d.png') }}" alt="" style="width: 180px;height: 720px;">#}
{#    </div>#}
</div>