{% extends "base/base.html" %}

{% block leftBar %}
    {% include 'school/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-school-body">
        <div class="e-page-title">幼教网校-优秀讲座</div>

        <div class="school-slides">
            <ul class="rslides">
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
                <li><img src="http://fakeimg.pl/976x549/" alt=""></li>
            </ul>
        </div>
        <div class="video-section-lg">
            <div class="section-block-title-4">优秀课堂</div>
            <div class="classes-select-wrapper">
                <select name="" id="" class="classes-select">
                    <option value="">幼儿园小班</option>
                    <option value="">幼儿园中班</option>
                    <option value="">幼儿园大班</option>
                    <option value="">幼儿园接班</option>
                </select>
            </div>
            <ul class="video-section-list">
                {% for i in range(3) %}
                    <li>
                        <div class="v-image-wrapper">
                            <img src="{{ url_for('static', filename='image/icons/qinghua.png') }}" alt="">
                            <div class="v-image-hover-layer"></div>
                        </div>
                        <h5>青花瓷</h5>
                        <a href="" class="start-download">开始下载</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="video-section-lg">
            <div class="section-block-title-4">优秀讲座</div>
            <ul class="video-section-list">
                {% for i in range(3) %}
                    <li>
                        <div class="v-image-wrapper">
                            <img src="{{ url_for('static', filename='image/icons/qinghua.png') }}" alt="">
                            <div class="v-image-hover-layer"></div>
                        </div>
                        <h5>青花瓷</h5>
                        <a href="" class="start-download">开始下载</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="video-section-lg">
            <div class="section-block-title-4">其他视频</div>
            <ul class="video-section-list">
                {% for i in range(3) %}
                    <li>
                        <div class="v-image-wrapper">
                            <img src="{{ url_for('static', filename='image/icons/qinghua.png') }}" alt="">
                            <div class="v-image-hover-layer"></div>
                        </div>
                        <h5>青花瓷</h5>
                        <a href="" class="start-download">开始下载</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="video-section-lg">
            <div class="section-block-title-6">产品使用培训</div>
            <ul class="video-section-list">
                {% for i in range(3) %}
                    <li>
                        <div class="v-image-wrapper">
                            <img src="{{ url_for('static', filename='image/icons/qinghua.png') }}" alt="">
                            <div class="v-image-hover-layer"></div>
                        </div>
                        <h5>青花瓷</h5>
                        <a href="" class="start-download">开始下载</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="video-section-lg">
            <div class="section-block-title-6">师资培训视频</div>
            <ul class="video-section-list">
                {% for i in range(3) %}
                    <li>
                        <div class="v-image-wrapper">
                            <img src="{{ url_for('static', filename='image/icons/qinghua.png') }}" alt="">
                            <div class="v-image-hover-layer"></div>
                        </div>
                        <h5>青花瓷</h5>
                        <a href="" class="start-download">开始下载</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='vendor/js/responsiveslides.js') }}"></script>
    <script src="{{ url_for('static', filename='build/js/youjiao.js') }}"></script>
{% endblock %}