{% extends "base/base.html" %}

{% block leftBar %}
    {% include 'school/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-school-body">
        <h4>幼教网校 优秀讲座</h4>

        <div class="school-slides">

        </div>
        <div class="good-lectures">
            <div class="good-lectures-title">优秀课堂</div>
            <ul class="good-lectures-list">
                <li class="lectures-active">
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
            </ul>
        </div>
        <div class="good-lectures">
            <div class="good-lectures-title">优秀讲座</div>
            <ul class="good-lectures-list">
                <li class="lectures-active">
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
            </ul>
        </div>
        <div class="good-lectures">
            <div class="good-lectures-title">其他视频</div>
            <ul class="good-lectures-list">
                <li class="lectures-active">
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
            </ul>
        </div>
        <div class="good-lectures">
            <div class="good-lectures-title">产品使用培训</div>
            <ul class="good-lectures-list">
                <li class="lectures-active">
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
            </ul>
        </div>
        <div class="good-lectures">
            <div class="good-lectures-title">师资培训视频</div>
            <ul class="good-lectures-list">
                <li class="lectures-active">
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
