{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ 'video_detail.css' | asset }}">
    <link rel="stylesheet" href="{{ 'vendor/video-js/video-js.min.css' | vendor_asset }}">
{% endblock %}

{% block leftBar %}
    {% include 'onlinecourse/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-school-body">

        <div class="e-page-title">{{ video.name }}</div>
        <div class="video-detail">
            <div class="video-detail-v">
                <video id="video-detail-c" class="video-js vjs-default-skin" controls preload="auto" width="100%"
                       height="522" data-setup='{}' poster="http://www.videojs.com/img/poster.jpg">
                    {% if current_user.is_authenticated %}
                    <source src='{{ video.content.full_video | qiniu_private_url }}' type='video/ogg'/>
                    {% else %}
                    <source src='{{ video.content.short_video | qiniu_private_url }}' type='video/ogg'/>
                    {% endif %}
                </video>
            </div>
            <div class="video-detail-v-t">{{ video.name }}</div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ 'vendor/video-js/video.js' | vendor_asset }}"></script>
    <!--[if lt IE 9]>
    <script src="{{ 'vendor/video-js/videojs-ie8.min.js'| vendor_asset }}"></script>
    <![endif]-->
    <script src="{{ 'video_detail.js' | asset }}"></script>
{% endblock %}

