{% extends 'admin/master.html' %}

{% block body %}
<div class="row">
    <br/>
    <br/>
    {% if admin_permission.can() %}
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">用户管理</div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/admin/user/">用户数量</a>
                        <span class="badge">{{ User.query.count() }}</span></li>
                    <li class="list-group-item">
                        <a href="/admin/role/">身份数量</a>
                        <span class="badge">{{ Role.query.count() }}</span></li>
                </ul>
            </div>
        </div>
        <br/>
    </div>
    {% endif %}
    <div class="col-sm-5 col-sm-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">幼教内容</div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/admin/book/">教材数量</a>
                        <span class="badge text-right">{{ Book.query.count() }}</span>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/activity/">幼教动态数量</a>
                        <span class="badge text-right">{{ Activity.query.count() }}</span>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/courseware/">课件数量</a>
                        <span class="badge text-right">{{ Courseware.query.count() }}</span>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/page/">静态页面数量</a>
                        <span class="badge text-right">{{ Page.query.count() }}</span>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/onlinecourse/">幼教网课数量</a>
                        <span class="badge text-right">{{ OnlineCourse.query.count() }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">资源管理</div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/admin/photo/">图片数量</a>
                        <span class="badge">{{ Photo.query.count() }}</span></li>
                    <li class="list-group-item">
                        <a href="/admin/album/">相册数量</a>
                        <span class="badge">{{ Album.query.count() }}</span></li>
                    <li class="list-group-item">
                        <a href="/admin/video/">视频数量</a>
                        <span class="badge">{{ Video.query.count() }}</span></li>
                    <li class="list-group-item">
                        <a href="/admin/audio/">音频数量</a>
                        <span class="badge">{{ Audio.query.count() }}</span></li>
                    <li class="list-group-item">
                        <a href="/admin/document/">文档数量</a>
                        <span class="badge">{{ Document.query.count() }}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">页面展示</div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/admin/contentlist/">首页推荐</a>
                        <span class="badge">{{ ContentList.query.count() }}</span></li>
                    <li class="list-group-item">
                        <a href="/admin/slider/">轮播图</a>
                        <span class="badge">{{ Slider.query.count() }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}