{% extends 'admin/master.html' %}

{% block body %}
<a href="/admin/user/">
    <button class="btn btn-primary" type="button">
        <!--Messages <span class="badge">4</span>-->
        用户数量 <span class="badge">{{ User.query.count() }}</span>
    </button>
</a>
<a href="/admin/activity/">
    <button class="btn btn-primary" type="button">
        <!--Messages <span class="badge">4</span>-->
        幼教动态数量 <span class="badge">{{ Activity.query.count() }}</span>
    </button>
</a>
<a href="/admin/book/">
    <button class="btn btn-primary" type="button">
        <!--Messages <span class="badge">4</span>-->
        教材数量 <span class="badge">{{ Book.query.count() }}</span>
    </button>
</a>
<a href="/admin/courseware/">
    <button class="btn btn-primary" type="button">
        <!--Messages <span class="badge">4</span>-->
        课件数量  <span class="badge">{{ Courseware.query.count() }}</span>
    </button>
</a>
{% endblock %}
