{% extends 'admin/model/list.html' %}

{% block model_list_table %}

<table class="table table-striped table-bordered table-hover model-list">
    <thead>
    <tr>
        {% block list_header scoped %}
        {% if actions %}
        <th class="list-checkbox-column">
            <input type="checkbox" name="rowtoggle" class="action-rowtoggle"
                   title="{{ _gettext('Select all records') }}"/>
        </th>
        {% endif %}
        {% block list_row_actions_header %}
        <th class="col-md-1">&nbsp;</th>
        {% endblock %}
        {% set column = 0 %}
        {% for c, name in list_columns %}
        <th class="column-header col-{{c}}">
            {% if admin_view.is_sortable(c) %}
            {% if sort_column == column %}
            <a href="{{ sort_url(column, True) }}"
               title="{{ _gettext('Sort by %(name)s', name=name) }}">
                {{ name }}
                {% if sort_desc %}
                <span class="fa fa-chevron-up glyphicon glyphicon-chevron-up"></span>
                {% else %}
                <span class="fa fa-chevron-down glyphicon glyphicon-chevron-down"></span>
                {% endif %}
            </a>
            {% else %}
            <a href="{{ sort_url(column) }}"
               title="{{ _gettext('Sort by %(name)s', name=name) }}">{{ name
                }}</a>
            {% endif %}
            {% else %}
            {{ name }}
            {% endif %}
            {% if admin_view.column_descriptions.get(c) %}
            <a class="fa fa-question-circle glyphicon glyphicon-question-sign"
               title="{{ admin_view.column_descriptions[c] }}"
               href="javascript:void(0)" data-role="tooltip"
                    ></a>
            {% endif %}
        </th>
        {% set column = column + 1 %}
        {% endfor %}
        {% endblock %}
    </tr>
    </thead>
</table>
    <div class="row">
        {% for row in data %}
        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
                <img src="{{ row.thumbnail }}" alt=""
                     style="height: 150px; width: 100%; display: block;">
            <div class="caption">
                <p>{{ row.url }}</p>
            {% if actions %}
            <input type="checkbox" name="rowid" class="action-checkbox"
                   value="{{ get_pk_value(row) }}"
                   title="{{ _gettext('Select record') }}"/>
            {% endif %}
            {% block list_row_actions scoped %}
            {%- if admin_view.can_view_details -%}
            {%- if admin_view.details_modal -%}
            {{ lib.add_modal_button(url=get_url('.details_view', id=get_pk_value(row), url=return_url, modal=True), title=_gettext('View Record'), content='<span class="fa fa-eye glyphicon glyphicon-eye-open"></span>') }}
            {% else %}
            <a class="icon" href="{{ get_url('.details_view', id=get_pk_value(row), url=return_url) }}" title="{{ _gettext('View Record') }}">
                <span class="fa fa-eye glyphicon glyphicon-eye-open"></span>
            </a>
            {%- endif -%}
            {%- endif -%}
            {%- if admin_view.can_edit -%}
            {%- if admin_view.edit_modal -%}
            {{ lib.add_modal_button(url=get_url('.edit_view', id=get_pk_value(row), url=return_url, modal=True), title=_gettext('Edit record'), content='<span class="fa fa-pencil glyphicon glyphicon-pencil"></span>') }}
            {% else %}
            <a class="icon" href="{{ get_url('.edit_view', id=get_pk_value(row), url=return_url) }}" title="{{ _gettext('Edit record') }}">
                <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
            </a>
            {%- endif -%}
            {%- endif -%}
            {%- if admin_view.can_delete -%}
            <form class="icon" method="POST" action="{{ get_url('.delete_view') }}">
                {{ delete_form.id(value=get_pk_value(row)) }}
                {{ delete_form.url(value=return_url) }}
                {% if delete_form.csrf_token %}
                {{ delete_form.csrf_token }}
                {% elif csrf_token %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% endif %}
                <button onclick="return confirm('{{ _gettext('Are you sure you want to delete this record?') }}');" title="Delete record">
                    <span class="fa fa-trash glyphicon glyphicon-trash"></span>
                </button>
            </form>
            {%- endif -%}
            {% endblock %}
            </div>
            </div>
        </div>
        {% endfor %}
        </div>

        {% block list_pager %}
        {{ super() }}
        {% endblock %}
        {% endblock %}