{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ 'product.css' | asset }}">
{% endblock %}

{% block leftBar %}
    {% include 'book/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-noright-body">

        <div class="e-page-title">产品展示-幼教教材-幼教图书分类-{{ book.level }}-{{ book.name }}</div>

        <div>
            <div class="product-container">
                <div class="samples-imgs">
                    <img id="samples-imgs-active" src="" alt="" style="width: 484px;height: 460px;background: #CCCCCC;">

                    <div class="s-imglist-container">
                        <div class="s-imglist-w">
                            <!--<div class="p-s-imglist s-img-active"><img src="" alt=""></div>-->
                            {% for img_url in book.image_array %}
                                <div class="p-s-imglist"><img src="{{ img_url }}?imageView/2/w/500" alt=""></div>
                            {% endfor %}
                            {#                            <a href="javascript:;" id="simple-img-next"></a>#}
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <div class="product-title">
                        <h3>{{ book.name }}<span>{{ book.level }} 1-5</span></h3>
                    </div>
                    <table>
                        <tr>
                            <td class="product-info-detail">主编：</td>
                            <td>{{ book.chief_editor }}</td>
                        </tr>
                        <tr>
                            <td class="product-info-detail">责任编辑：</td>
                            <td>{{ book.executive_editor }}</td>
                        </tr>
                        <tr>
                            <td class="product-info-detail">出版社：</td>
                            <td>{{ book.publisher }}</td>
                        </tr>
                        <tr>
                            <td class="product-info-detail">开本：</td>
                            <td>{{ book.size }}</td>
                        </tr>
                        <tr>
                            <td class="product-info-detail">版号：</td>
                            <td>xxx</td>
                        </tr>
                    </table>
                    <div class="product-button">
                        {% if current_user.is_authenticated() %}
                            <a href="javascript:;" class="product-collection">添加收藏</a>
                        {% endif %}
                        <a href="javascript:;" class="product-associate">关联课件</a>
                    </div>
                    <div class="product-order">
                        <p>定价：<span class="product-price">{{ book.price }}元</span></p>

                        <p>如需购买请联系：0512-6917 3537</p>
                    </div>
                </div>
            </div>
            <div class="product-detail-comments">
                <div class="detail-comment-title">
                    <a href="javascript:;" class="book-switch active">图书详情</a>
                    <a href="javascript:;" class="book-switch">图书评论</a>
                </div>
                <div>
                    <div class="detail-comment-content">
                        {% for preview in book.preview_array %}
                            <img src="{{ preview }}?imageView2/2/w/400" alt="">
                        {% endfor %}
                    </div>
                    <div class="detail-comment-content display-none">
                        <ul id="book-content-list">
                            {% for comment in page_comment.items %}
                                <li>
                                    <div>
                                        <img src="{{ comment.user.avatar }}" alt="">
                                        <h6>{{ comment.user.nickname or comment.user.name }}</h6>
                                    </div>
                                    <span>{{ comment.content }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="comment-pagination">
                            <li>
                                <a href="#">1</a>
                            </li>
                        </ul>
                        <textarea name="" id="comment-textarea"  {% if not current_user.is_authenticated() %} disabled {% endif %}>

                        </textarea>
                        <a href="javascript:;"
                                {% if current_user.is_authenticated() %} id='book-publish-comment' {% endif %}
                           class="book-publish-comment">发布</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ 'book_detail.js' | asset }}"></script>
{% endblock %}