{% extends "base/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ 'book.list.css' | asset }}">
{% endblock %}

{% block leftBar %}
{% include 'book/left_bar.html' %}
{% endblock %}

{% block content %}
<div id="main-school-body">
    <div class="e-page-title">幼教教材--{{level or '全部'}}教材</div>
    <div class="video-section-lg">
        <h3 style="text-align: center;line-height: 40px;">{{ level or '全部' }}教材</h3>
        <div class="search-input">
            <a class="search-button" href="javascript:;" id="search-button">
                <img src="{{ url_for('static', filename='image/icons/iconfont-search.png') }}"
                     style="width: 18px;height: 18px;margin-top: 6px;" alt="">
            </a>
            <input id="search-input" type="text" value="{{search}}">
        </div>
        <div class="section-block-wrapper">
            <div class="section-block-title-4">班级分类</div>
            <div class="classes-select-wrapper">
                <select name="" id="" class="classes-select">
                    <option value="" {% if not level %}selected="selected"
                            {% endif %}>全部</option>
                    <option value="幼小衔接班" {% if level=="幼小衔接班" %}
                            selected="selected" {% endif %}>幼小衔接班</option>
                    <option value="大班" {% if level=="大班" %}
                            selected="selected" {% endif %}>大班</option>
                    <option value="中班" {% if level=="中班" %}
                            selected="selected" {% endif %}>中班</option>
                    <option value="小班" {% if level=="小班" %}
                            selected="selected" {% endif %}>小班</option>
                </select>
            </div>
        </div>
        <ul class="video-section-list">
            {% for book in book_list %}
                <li>
                    <a href="{{ book.link }}">
                        <div class="v-image-wrapper">
                            <img src="{{ '%s?imageView2/2/w/600'|format(book.cover) }}" alt="">

                            <div class="v-image-hover-layer">
                            </div>
                        </div>
                        <h5>{{ book.name }}</h5>
                    </a>
                </li>
            {% else %}
                <h1>相关内容即将上线，敬请期待！</h1>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ 'book.list.js' | asset }}"></script>
{% endblock %}
