{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ 'product.css' | asset }}">
{% endblock %}

{% block leftBar %}
    {% include 'book/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-home-body">
        <div class="e-page-title">产品展示-幼教教材</div>
        <div class="product-s-slides">
            <div class="product-s-slides-main">
                <ul class="rslides">
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/1.jpeg" style="width: 976px;height: 320px;"
                             alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/2.jpeg" style="width: 976px;height: 320px;"
                             alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/3.jpeg" style="width: 976px;height: 320px;"
                             alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/4.jpeg" style="width: 976px;height: 320px;"
                             alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/5.jpeg" style="width: 976px;height: 320px;"
                             alt=""></li>
                </ul>
            </div>
        </div>
        <div class="n-v-section-b">
            <div class="section-block-wrapper">
                <div class="section-block-title-6">幼教图书分类</div>
            </div>
            <ul class="n-v-section-list">
                {% for book in book_list %}
                    <li>
                        <a href="{{ url_for('book_view.book_detail', book_id=book.id) }}">
                            <div class="nv-image-wrapper">
                                <!--<img src="{{ '%s%s.jpg?imageView2/2/w/400'|format('http://7xj2zj.com2.z0.glb.qiniucdn.com/', i) }}" alt="">-->
                                <img src="{{ '%s?imageView2/2/w/400'|format(book.cover) }}" alt="">
                                <div class="nv-image-hover-layer"></div>
                                <div class="nv-price">{{ book.price }}/套</div>
                            </div>
                            <h5>{{ book.name }}</h5>
                            <h6>{{ book.level }}</h6>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rank-section">
            <div class="section-block-wrapper">
                <div class="section-block-title-7">幼教教材排行榜</div>
            </div>
            <div class="rank-section-list">
                <div class="product-rank-list product-rank-list-1">
                    <img src="" alt="">
                    <h4>1.xx幼儿英语</h4>
                    <h5>xxxxxxxxxx</h5>
                </div>
                <div class="product-rank-list">
                    <div class="product-rank-item">
                        <img src="" alt="">

                        <div>
                            <h4>3.xxx孩子好性fffffffffffffffff格</h4>
                            <h5>ssssffffffffffsssssss</h5>
                        </div>
                    </div>
                    <div class="product-rank-item">
                        <img src="" alt="">

                        <div>
                            <h4>3.xxx孩子好性fffffffffffffffff格</h4>
                            <h5>ssssffffffffffsssssss</h5>
                        </div>
                    </div>
                    <div class="product-rank-item">
                        <img src="" alt="">

                        <div>
                            <h4>3.xxx孩子好性fffffffffffffffff格</h4>
                            <h5>ssssffffffffffsssssss</h5>
                        </div>
                    </div>
                </div>
                <div class="product-rank-list">
                    <div class="product-rank-item">
                        <img src="" alt="">

                        <div>
                            <h4>3.xxx孩子好性fffffffffffffffff格</h4>
                            <h5>ssssffffffffffsssssss</h5>
                        </div>
                    </div>
                    <div class="product-rank-item">
                        <img src="" alt="">

                        <div>
                            <h4>3.xxx孩子好性fffffffffffffffff格</h4>
                            <h5>ssssffffffffffsssssss</h5>
                        </div>
                    </div>
                    <div class="product-rank-item">
                        <img src="" alt="">

                        <div>
                            <h4>3.xxx孩子好性fffffffffffffffff格</h4>
                            <h5>ssssffffffffffsssssss</h5>
                        </div>
                    </div>
                </div>
                <div class="product-rank-list">
                    <div class="product-rank-item">
                        <img src="" alt="">

                        <div>
                            <h4>3.xxx孩子好性fffffffffffffffff格</h4>
                            <h5>ssssffffffffffsssssss</h5>
                        </div>
                    </div>
                    <div class="product-rank-item">
                        <img src="" alt="">

                        <div>
                            <h4>3.xxx孩子好性fffffffffffffffff格</h4>
                            <h5>ssssffffffffffsssssss</h5>
                        </div>
                    </div>
                    <div class="product-rank-item">

                    </div>
                </div>


                {#                <div class="rank-section-list-t">#}
                {#                    <div class="rank-section-list-l">#}
                {#                        <img src="" alt="">#}
                {#                        <h5>1.xx幼儿英语</h5>#}
                {#                    </div>#}
                {#                    <div class="rank-section-list-c">#}
                {#                        <div class="rank-section-list-tct">#}
                {#                            <div class="rank-list-item">#}
                {#                                <img src="" alt="">#}
                {##}
                {#                                <div>#}
                {#                                    <h5>3.xxx孩子好性格</h5>#}
                {#                                    <h6>sssssssssss</h6>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="rank-section-list-tcb">#}
                {#                            <div class="rank-list-item">#}
                {#                                <img src="" alt="">#}
                {##}
                {#                                <div>#}
                {#                                    <h5>4.xxx孩子好性格</h5>#}
                {#                                    <h6>sssssssssss</h6>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="rank-section-list-r">#}
                {#                        <div class="rank-section-list-trt">#}
                {#                            <div class="rank-list-item">#}
                {#                                <img src="" alt="">#}
                {##}
                {#                                <div>#}
                {#                                    <h5>7.xxx孩子好性格</h5>#}
                {#                                    <h6>sssssssssss</h6>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="rank-section-list-trb">#}
                {#                            <div class="rank-list-item">#}
                {#                                <img src="" alt="">#}
                {##}
                {#                                <div>#}
                {#                                    <h5>8.xxx孩子好性格</h5>#}
                {#                                    <h6>sssssssssss</h6>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="rank-section-list-b">#}
                {#                    <div class="rank-section-list-l">#}
                {#                        <img src="" alt="">#}
                {#                        <h5>2.xx幼儿英语</h5>#}
                {#                    </div>#}
                {#                    <div class="rank-section-list-c">#}
                {#                        <div class="rank-section-list-bct">#}
                {#                            <div class="rank-list-item">#}
                {#                                <img src="" alt="">#}
                {##}
                {#                                <div>#}
                {#                                    <h5>5.xxx孩子好性格</h5>#}
                {#                                    <h6>sssssssssss</h6>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="rank-section-list-bcb">#}
                {#                            <div class="rank-list-item">#}
                {#                                <img src="" alt="">#}
                {##}
                {#                                <div>#}
                {#                                    <h5>6.xxx孩子好性格</h5>#}
                {#                                    <h6>sssssssssss</h6>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="rank-section-list-r">#}
                {#                        <div class="rank-section-list-brt">#}
                {#                            <div class="rank-list-item">#}
                {#                                <img src="" alt="">#}
                {##}
                {#                                <div>#}
                {#                                    <h5>9.xxx孩子好性格</h5>#}
                {#                                    <h6>sssssssssss</h6>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="rank-section-list-brb">#}
                {#                            <div class="rank-list-item">#}
                {#                                <img src="" alt="">#}
                {##}
                {#                                <div>#}
                {#                                    <h5>10.xxx孩子好性格</h5>#}
                {#                                    <h6>sssssssssss</h6>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ 'product.js' | asset }}"></script>
{% endblock %}
