@import "var"

.footer-wrapper
  border-top: 4px solid $youjiao-pink

.footer
  margin: 0 auto
  width: 680px
  background: $background-brown
  +clear-float

  div
    +clear-float

  ul
    width: 170px
    float: left

    li
      list-style: disc
      margin-left: 18px

    .list-style-none
      list-style: none
      margin-left: 0

    a
      color: $font-gray
      font-size: 14px

  .copyright
    font-size: 14px
    color: $font-gray
    text-align: center
