.header
  +clear-float
  box-sizing: border-box
  height: 122px
  border-bottom: 6px solid $youjiao-pink

  .nav-wrapper
    padding-top: 16px
    box-sizing: border-box
    height: 104px
    width: $wrapper-width
    margin: 0 auto

    +clear-float

  .youjiao-logo
    height: 88px
    width: 180px
    text-align: center
    margin-right: 24px
    float: left
    img
      width: 88px

  .youjiao-nav
    +clear-float
    width: 732px
    height: 30px
    float: left
    margin-top: 64px
    ul
      +clear-float
      padding: 0
      margin: 0
      width: 732px
      height: 30px
      text-align: center
      li
        width: 122px
        height: 24px
        line-height: 24px
        box-sizing: border-box
        float: left
        font-size: 18px
        border-right: 2px solid $youjiao-pink

      .border-right-none
        border-right: 0

      a
        color: $youjiao-pink
      .nav-active
        display: inline-block
        width: 90px
        height: 24px
        background: $youjiao-pink
        color: white
        border-radius: 12px

  .header-right
    width: 220px
    height: 104px
    float: left
    margin-left: 24px

    .header-right-top
      height: 14px
      span
        color: $font-gray
        font-size: 14px
      a
        color: $font-gray

      .header-login
        float: right

    .search-input
      width: 220px
      height: 30px
      margin-top: 44px
      input
        float: left
        width: 190px
        height: 30px
        box-sizing: border-box
        outline: none
        border: 1px solid $youjiao-pink
        border-radius: 4px 0 0 4px
      .search-button
        display: inline-block
        width: 30px
        height: 30px
        border-radius: 0 4px 4px 0
        background: $youjiao-pink
        float: left
