.left-bar
  width: 180px
  float: left
  box-sizing: border-box
  .left-bar-subul-last
    padding-bottom: 10px
    margin-bottom: 28px
  ul
    margin: 0
    padding: 0
    background: #fff1d1
    li
      height: 30px
      box-sizing: border-box
      padding-left: 16px
      line-height: 30px
    .left-list-first
      margin-bottom: 6px
      +list-first
  a
    font-family: $yahei
    color: $font-gray-light
    font-size: 16px

  .active
    background: #fecbc0

  .left-adposition
    width: 180px
    height: 720px
    background: #CCCCCC

.right-bar
  width: 244px
  float: left
  box-sizing: border-box
  ul
    li
      position: relative
      height: 36px
      padding-left: 16px
      color: $font-gray
      line-height: 36px
      white-space: nowrap
      text-overflow: ellipsis
      &:before
        position: absolute
        content: ' '
        display: inline-block
        width: 2px
        height: 2px
        background: $font-gray
        border-radius: 50%
        margin-top: 15px
        margin-left: -4px

.right-list
  background: #fefef1

.right-list-first
  +list-first

  .weekly-hot
    height: 372px
    background: $background-brown
    ul
      padding: 0

.right-bar-small
  width: 220px
  float: left
  box-sizing: border-box
  ul
    padding-bottom: 26px
    li
      height: 31px
      padding-left: 16px
      color: $font-gray
      line-height: 31px
    a
     color: $font-gray


.right-bar-slide
  width: 220px
  height: 220px
  background: #CCCCCC
  margin-bottom: 26px
  position: relative
  .rslides li
    width: 220px
    height: 220px
    padding: 0 !important
  .rslides_tabs
    padding: 0 !important
  .rslides_tabs li
    height: auto !important
  .rslides_tabs li a
    color: transparent !important

.right-bar-list
  li
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.message-board
  box-sizing: border-box
  width: 180px
  height: 220px
  background: #63a1db
  border-radius: 10px 10px 20px 20px
  padding-left: 8px
  padding-right: 8px
  p
    display: inline-block
    width: 100%
    padding-top: 4px
    text-align: center
    font-weight: bold
    font-size: 20px
    color: white
  span
    display: inline-block
    width: 100%
    line-height: 148px
    text-align: center
    color: #6c6c6c
    a
      color: #63a1db
  .message-area
    width: 164px
    height: 148px
    background: #fff1d1
    margin-top: 2px
  .submit-message
    display: block
    width: 92px
    height: 28px
    margin: 6px auto 0 auto
    background: white
    color: #7a7a7a
    border-radius: 4px
    line-height: 28px
    box-sizing: border-box
    border: 1px solid #CCCCCC
    outline: 0
    &:hover
      background: #ff3c4c
      color: white
      border: 1px solid #ff3c4c
  textarea
    min-width: 100%
    max-width: 100%
    min-height: 100%
    max-height: 100%
    border: 0
    padding: 0
    margin: 0
    outline: 0
