@import "var"

.left-bar
  width: 180px
  float: left
  box-sizing: border-box
  .left-bar-subul-last
    padding-bottom: 26px
    margin-bottom: 48px
  ul
    margin: 0
    padding: 0
    background: $background-brown-2
    padding-bottom: 16px
    li
      height: 30px
      box-sizing: border-box
      padding-top: 13px
      padding-left: 16px
      line-height: 17px
    .left-list-first
      +list-first
  a
    color: $font-gray

  .left-adposition
    width: 180px
    height: 728px
    background: #CCCCCC


.right-bar
  width: 244px
  float: left
  box-sizing: border-box
  ul
    li
      height: 30px
      padding-left: 16px
      color: $font-gray
      line-height: 30px
.right-list-first
  +list-first

  .weekly-hot
    height: 372px
    background: $background-brown
    ul
      padding: 0
