.rank-section
  margin-top: 26px

.rank-section-list
  padding-top: 20px
  background: white
  a
    color: $font-gray-light
  +clear-float
  color: $font-gray
  .rank-each-list-1
    width: 332px
    box-sizing: border-box
    float: left
    padding-left: 24px
    .rank-each-item
      height: 204px
    img
      width: 284px
      height: 160px
      background: #CCCCCC
    h4
      margin-top: 4px
      text-align: center
      font-size: 18px
  .rank-each-list
    width: 322px
    box-sizing: border-box
    float: left
    .rank-each-item
      +clear-float
      height: 102px
      padding-left: 12px
      div
        width: 140px
        float: left
        padding-left: 10px
    img
      width: 146px
      height: 84px
      background: #CCCCCC
      float: left
    h5
      margin-top: 4px

.product-rank-list-1
  height: 302px
  border-left: none !important
  text-align: center
  img
    width: 215px
    height: 215px
    background: #CCCCCC
  h4
    margin-top: 20px
    text-align: center
  h5
    margin-top: 4px
    text-align: center
.product-rank-list
  float: left
  box-sizing: border-box
  width: 244px
  color: $font-gray
  .product-rank-item
    box-sizing: border-box
    float: left
    width: 244px
    height: 106px
    padding-left: 15px
    div
      float: left
      margin-left: 16px
      width: 108px
    img
      width: 90px
      height: 90px
      background: #CCCCCC
      float: left
    h5
      margin-top: 10px
