.rank-section
  margin-top: 26px
  .rank-section-list
    width: 976px
    height: 420px
    .margin-top-13
      margin-top: 13px
    .rank-list-item
      height: 105px
      border-bottom: 1px solid #CCCCCC
      box-sizing: border-box
      +clear-float
      img
        width: 147px
        height: 82px
        background: #CCCCCC
        margin-left: 12px
        margin-top: 13px
      div
        width: 160px
        box-sizing: border-box
        padding-top: 16px
        padding-left: 16px
        float: right
        h5
          text-align: left
        h6
          color: $font-gray
          text-align: center
    .border-bottom-none
      border-bottom: none
    +clear-float
    .rank-list-left
      float: left
      width: 332px
      box-sizing: border-box
      text-align: center
      div
        height: 210px
        box-sizing: border-box
        border-bottom: 1px solid #CCCCCC
        img
          width: 284px
          height: 160px
          background: #CCCCCC
        h5
          margin-top: 13px

    .rank-list-middle
      width: 322px
      border-left: 1px solid #CCCCCC
      border-right: 1px solid #CCCCCC

      float: left
      box-sizing: border-box

    .rank-list-right
      width: 322px
      float: left
      box-sizing: border-box
