#userinfo-wrapper
  width: 1180px
  height: 628px
  margin-top: 30px
  margin-bottom: 56px
  box-sizing: border-box
  .userinfo-left
    width: 178px
    height: 100%
    box-sizing: border-box
    float: left
    background: #fff1d1
  .userinfo-avatar
    width: 88px
    height: 88px
    margin: 20px auto 16px
    border-radius: 50%
    background: #cccccc
    img
      width: 100%
      height: 100%
  .userinfo-role
    text-align: center
    height: 68px
    span
      font-size: 22px
      color: $font-gray-heavy
    h4
      font-size: 14pt
      color: $font-gray-light

  .userinfo-left-tab
    width: 100%
    float: right
    font-size: 20px
    text-indent: 30px
    line-height: 60px
    a
      display: inline-block
      float: right
      width: 160px
      height: 60px
      color: $font-gray-light
    .active
      background: white

  .userinfo-right
    width: 1000px
    min-height: 100%
    box-sizing: border-box
    float: left
    background: white

  .userinfo-right-top
    width: 100%
    height: 50px
    box-sizing: border-box
    border-top: 1px solid #CABCBC
    border-bottom: 1px solid #CABCBC
    margin-top: 50px
    div
      width: 80px
      height: 30px
      border-width: 1px 1px 0
      border-style: solid
      border-color: #CABCBC
      margin-top: -31px
      margin-left: 55px
      background: white
      color: $font-gray-heavy
      text-align: center
      line-height: 30px
    ul
      +clear-float
      margin-left: 55px
    li
      float: left
      min-width: 88px
      margin-left: 8px
      text-align: center
    a
      font-size: 18px
      display: inline-block
      color: $font-gray-light
      height: 45px
      line-height: 45px
    .active
      border-bottom: 4px solid $youjiao-pink

  .userinfo-content
    margin-top: 42px
    margin-left: 55px

#user-profile-form
  li
    +clear-float
    margin-bottom: 10px
  span
    width: 70px
    display: inline-block
    text-align: justify
    float: left
    color: $font-gray-light
    &:after
      content: ""
      width: 100%
      display: inline-block
  input
    float: left
    margin-left: 8px
    width: 290px
    height: 28px
    box-sizing: border-box
    outline: none
    border: 1px solid #ccc
  select
    margin-left: 8px
    background: transparent
    border: 1px solid #ccc
    outline: none
  =button
    display: block
    width: 100px
    height: 30px
    background: $youjiao-pink
    color: white
    text-align: center
    line-height: 30px
    font-size: 14pt
    margin-top: 10px
    margin-left: 76px
    border: none
    outline: none
  .user-profile-submit
    +button
  .modify-password-submit
    +button
  .form-invalid
    line-height: 26px

.learn_record
  margin-top: 30px
  ul
    +clear-float
    li
      width: 215px
      box-sizing: border-box
      float: left
      margin-left: 28px
      margin-bottom: 13px
      text-align: center
    img
      width: 100%
      height: 121px
      background: #CCCCCC
    span
      margin-top: 6px
      display: inline-block

.school-search
  +clear-float
  span
    width: 75px
    color: $font-gray-light
    float: left
  input
    width: 290px
    height: 28px
    float: left
    box-sizing: border-box
    outline: none
    border: 1px solid #ccc
  select
    float: left
    margin-left: 8px
    background: transparent
    border: 1px solid #ccc
    outline: none
  a
    +button-a
    float: left
    margin-left: 20px
.userinfo-table
  margin-top: 30px
  th
    color: $font-gray-light
  tr
    height: 40px
    &:nth-child(even)
      background: $background-brown-2
  td
    color: $font-gray-light
  a
    +button-a
.school-table
  .userinfo-table-1
    width: 20%
  .userinfo-table-2
    width: 10%
  .userinfo-table-3
    width: 30%
  .userinfo-table-4
    width: 10%
.consumption-table
  text-align: center
  th
    width: 200px

.userinfo-collection-list
  padding-left: 16px

.userinfo-upload-style
  width: 282px
  text-align: center
  margin-left: 45px
  color: $font-gray-heavy

#userinfo-upload-avator
  width: 282px
  height: 282px
  margin-left: 45px
  font-size: 16px
  color: $font-gray-heavy
  text-align: center
  border: 1px solid #CABCBC
  margin-top: 10px
.userinfo-upload-tip
  width: 280px
  margin-left: 45px
  margin-top: 10px
  text-align: center
  color: $font-gray-light

.fileupload
  width: 140px
  height: 140px
  position: relative
  overflow: hidden
  margin: 40px auto
  div
    width: 140px
    height: 140px
    border-radius: 50%
    background: #CCCCCC
    position: absolute
    top: 0
    right: 0
.fileupload input
  width: 140px
  height: 140px
  border-radius: 50%
  position: absolute
  top: 0
  right: 0
  margin: 0
  padding: 0
  font-size: 20px
  cursor: pointer
  opacity: 0
  filter: alpha(opacity=0)

.userinfo-input-show
  display: inline-block
  margin-left: 10px
  color: $font-gray-light
#click-edit-userprofile
  +button-a
#click-cancel-userprofile
  +button-a
  width: 100px
  height: 30px
  margin-top: 10px
  margin-left: 16px
  font-size: 18px
  line-height: 30px

.birthday-picker
  border: none !important
  padding: 0

.userinfo-input-show #gender
  margin-left: 0