{% extends "user/info_base.html" %}

{% block userinfo_right_top %}
    <div>个人资料</div>
    <ul>
        <li><a class=""
               href="{{ url_for('user_view.user_profile') }}">基本资料</a></li>
        <li><a class="active"
               href="{{ url_for('user_view.user_avatar') }}">头像设置</a></li>
        <li><a class=""
               href="{{ url_for('user_view.modify_password') }}">密码修改</a></li>
    </ul>
{% endblock %}

{% block userinfo_content %}
    <div class="userinfo-content">
        <div class="userinfo-upload-style">
            <span>上传本地照片</span>
        </div>
        <div id="userinfo-upload-avator">
            <form action="">
                <div class="fileupload">
                    <div></div>
                    <input type="file" id='userinfo-upload-input'/>
                </div>
{#                <input type="submit" value="上传">#}
            </form>
            <span>请点击按钮选择图片</span>
        </div>
        <h4 class="userinfo-upload-tip">仅支持JPG、JPGE、GIF、PNG的图片格式文件不能大于2M</h4>
    </div>
{% endblock %}
