{% extends "user/info_base.html" %}
{% block profile_avatar_modify_password %}
<div id="right_body_image">
    <div id="right_body_image1">
        <span>上传本地照</span>
        <span style="margin-left:0;">摄像头拍照</span>
    </div>
    <div id="right_body_image2">
        <div id="right_body_image3">
            <div id="button2">
                <div id="square1"></div>
                <div id="square2"></div>
            </div>
            <span>请点击按钮选择图片</span>
        </div>
    </div>
    <h4>仅支持JPG、JPGE、GIF、PNG的图片格式文件不能大于</h4>
</div>
{% endblock %}
