{% extends 'user/info_base.html' %}

{% block userinfo_right_top %}
    <div>消费记录</div>
    <ul>
        <li><a class="active" href="javascript:;">消费记录</a></li>
    </ul>
{% endblock %}

{% block userinfo_content %}
    <div class="userinfo-content">
        <table class="userinfo-table consumption-table">
            <tr>
                <th>商品名称</th>
                <th>购买时间</th>
                <th>到期时间</th>
            </tr>
            {% for i in current_user.vips %}
                <tr>
                    <td>VIP会员</td>
                    <td>{{i.begin}}</td>
                    <td>{{i.end}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}