{% extends "base/base.html" %}

{% block css %}
    <link href="{{ 'user_info.css' | asset }}" rel="stylesheet">
{% endblock %}

{% macro render_error(field) %}
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


{% block content %}
    <div id="userinfo-wrapper">
        <div class="userinfo-left">
            <div class="userinfo-avatar">

            </div>
            <div class="userinfo-role">
                <span>{{ current_user.name }}</span>
                {% if 'admin' in current_user.roles_name %}
                    <h4>管理员</h4>
                {% elif 'editor' in current_user.roles_name %}
                    <h4>编辑</h4>
                {% else %}
                    <h4>普通会员</h4>
                {% endif %}
            </div>
            <ul class="userinfo-left-tab">
                <li><a class="{% if 'info' in request.path %} active {% endif %}"
                       href="{{ url_for('user_view.user_profile') }}">个人资料</a></li>
                <li><a class="{% if 'learnrecord' in request.path %} active {% endif %}"
                       href="{{ url_for('user_view.user_learnrecord') }}">学习记录</a></li>
{#                <li><a class="{% if 'schools' in request.path %} active {% endif %}"#}
{#                       href="{{ url_for('user_view.user_schools') }}">我的园所</a></li>#}
                <li><a class="{% if 'collections' in request.path %} active {% endif %}"
                       href="{{ url_for('user_view.user_collections') }}">我的收藏</a></li>
                <li><a class="{% if 'consumption' in request.path %} active {% endif %}"
                       href="{{ url_for('user_view.user_consumption') }}">消费记录</a></li>
            </ul>
        </div>
        <div class="userinfo-right">
            <div class="userinfo-right-top">
                {% block userinfo_right_top %}
                {% endblock %}
            </div>
            {% block userinfo_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ 'user_info.js' | asset }}"></script>
{% endblock %}
