{% extends 'user/info_base.html' %}

{% block userinfo_right_top %}
    <div>学习记录</div>
    <ul>
        <li><a class="active" href="javascript:;">课件学习记录</a></li>
    </ul>
{% endblock %}

{% block userinfo_content %}
    <div class="learn_record">
        <ul>
            <li><img src=""><span>青花瓷</span></li>
            <li><img src=""><span>青花瓷</span></li>
            <li><img src=""><span>青花瓷</span></li>
            <li><img src=""><span>青花瓷</span></li>
            <li><img src=""><span>青花瓷</span></li>
            <li><img src=""><span>青花瓷</span></li>
            <li><img src=""><span>青花瓷</span></li>
            <li><img src=""><span>青花瓷</span></li>
        </ul>
    </div>
{% endblock %}
