{% extends "user/info_base.html" %}
{% block profile_avatar_modify_password %}
<form action="" method="post" id="user-profile-form">
    <ul>
        {{ form.hidden_tag() }}
        <li>
            <span>原密码:</span><input type="password" name="old_password"/>
            <div class="form-invalid">{{ render_error(form.old_password) }}</div>
        </li>
        <li>
            <span>新密码:</span><input type="password" name="password">
            <div class="form-invalid">{{ render_error(form.password) }}</div>
        </li>
        <li>
            <span>确认密码:</span><input type="password" name="password_confirm">
            <div class="form-invalid">{{ render_error(form.password_confirm) }}</div>
        </li>
        <input type="submit" class="modify-password-submit" value="修改">
        {% if modify_success %}
        <p>密码修改成功，下次登陆请使用新的密码</p>
        {% endif %}
    </ul>
</form>
{% endblock %}