{% extends 'user/info_base.html' %}

{% block userinfo_right_top %}
    <div>个人资料</div>
    <ul>
        <li><a class="active"
               href="{{ url_for('user_view.user_profile') }}">基本资料</a></li>
        <li><a class=""
               href="{{ url_for('user_view.user_avatar') }}">头像设置</a></li>
        <li><a class=""
               href="{{ url_for('user_view.modify_password') }}">密码修改</a></li>
    </ul>
{% endblock %}

{% block userinfo_content %}
    <div class="userinfo-content">
        <ul>
            <form action="" method="post" id="user-profile-form">
                {{ form.hidden_tag() }}
                <li>
                    <span>昵称:</span>

                    <div class="userinfo-input-show">
                        {{ form.nickname.data or '' }}
                    </div>
                    <div class="userinfo-form-input display-none">
                        <input type="text" value="{{ form.nickname.data or '' }}"
                               name="nickname"/>
                    </div>
                    <div class="form-invalid">{{ render_error(form.nickname) }}</div>
                </li>
                {#                <li><span>生日:</span><input id='birthday' type="text" value="{{ form.birthday.data or '' }}"#}
                {#                                           name="birthday">#}
                <li><span>生日:</span>

                    <div class="userinfo-input-show userinfo-input-dateshow">
                        {{ form.birthday.data or '' }}
                    </div>
                    <div class="userinfo-form-input display-none">
                        <div id='birthday_picker'></div>
                    </div>
                    <div class="form-invalid">{{ render_error(form.birthday) }}</div>
                </li>
                <li><span>性别:</span>

                    <div class="userinfo-input-show">
                        {{ form.gender }}
                    </div>
                    <div class="userinfo-form-input display-none">
                        {{ form.gender }}
                    </div>
                    <div class="form-invalid">{{ render_error(form.gender) }}</div>
                </li>
                <li><span>职业:</span>

                    <div class="userinfo-input-show">
                        {{ form.career.data or '' }}
                    </div>
                    <div class="userinfo-form-input display-none">
                        <input type="text" value="{{ form.career.data or '' }}" name="career">
                    </div>
                    <div class="form-invalid">{{ render_error(form.career) }}</div>
                </li>
                <li><span>工作单位:</span>

                    <div class="userinfo-input-show">
                        {{ form.work_place_name.data or '' }}
                    </div>
                    <div class="userinfo-form-input display-none">
                        <input type="text" value="{{ form.work_place_name.data or '' }}"
                               name="work_place_name">
                    </div>
                    <div class="form-invalid">{{ render_error(form.work_place_name) }}</div>
                </li>
                <li>
                    <span>所在地区:</span>

                    <div class="userinfo-input-show">
                        {{ form.province.data or '' }}
                        {{ form.district.data or '' }}
                        {{ form.street.data or '' }}
                        {{ form.street.data or '' }}
                    </div>
                    <div class="userinfo-form-input display-none">
                        <select style="float: left;" id="select-state" name="province">
                            <option>{{ form.province.data or '-省份-' }}</option>
                        </select>
                        <select style="float: left;" id="select-city" name="district">
                            <option>{{ form.district.data or '-城市-' }}</option>
                        </select>
                        <select style="float: left;" id="select-area" name="street">
                            <option>{{ form.street.data or '-县区-' }}</option>
                        </select>
                        <input style="float: left;" type="text" name="street" value="{{ form.street.data or '' }}"
                               placeholder="街道"/>
                    </div>
                </li>
                <div class="userinfo-input-show">
                    <a href="javascript:;" id="click-edit-userprofile">编辑资料</a>
                </div>
                <div class="userinfo-form-input display-none">
                    <input type="submit" class="user-profile-submit" value="保存">
                    <a href="javascript:;" id="click-cancel-userprofile">取消</a>
                </div>
            </form>
        </ul>
    </div>
{% endblock %}
