{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ 'courseware.detail.css' | asset }}">
    <link rel="stylesheet" href="{{ 'vendor/video-js/video-js.min.css' | vendor_asset }}">
{% endblock %}

{% block leftBar %}
    {% include 'courseware/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-noright-body">

        <div class="e-page-title">课件中心-教材配套课件-幼儿园大班-清凉一夏</div>

        <div>
            <div class="product-container">
                <div class="samples-imgs">
                    <img src="{{ courseware.book.cover }}" alt="" style="width: 484px;height: 460px;background: #CCCCCC;">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        <h3>{{ courseware.book.name }}</h3><span>{{ courseware.book.level }}</span>
                    </div>
                    <table>
                        <tr>
                            <td class="product-info-detail">课程内容：</td>
                            <td>xxx</td>
                        </tr>
                        <tr>
                            <td class="product-info-detail">清凉一夏</td>
                            <td>PPT</td>
                        </tr>
                    </table>
                    <div class="product-button">
                        <a href="javascript:;" id="{% if current_user.is_authenticated() %}click-to-download{% else %}not-login-pop{% endif %}" class="product-collection">点击下载</a>
                        <a href="{{ courseware.book.link }}" class="product-associate">关联教材</a>
                    </div>
                </div>
            </div>
            <div class="product-detail-comments">
                <div class="detail-comment-title">
                    <a href="javascript:;" class="book-switch active">课件详情</a>
                    <a href="javascript:;" class="book-switch">课件评论</a>
                </div>
                <div>
                    <div class="detail-comment-content courseware-detail-content">
                        <img src="" alt="" id="courseware-simple-mainimg">

                        <p>青花瓷PPT</p>
                        {% for media in courseware.content %}
                            {% if media.type == 'audio' %}
                            <div class="courseware-{{ media.type }}">
                            <h4>{{ media.name }}</h4>
                                {% if current_user.is_authenticated() %}
                                <audio src="{{ media.key | qiniu_private_url }}"></audio>
                                {% else %}
                                <audio src="#"></audio>
                                {% endif %}
                            </div>
                            {% elif media.type == 'video' %}
                            <div class="video-detail-course">
                                {% if current_user.is_authenticated() %}
                                <video id="video-detail-c" class="video-js vjs-default-skin" controls preload="auto"
                                       width="760"
                                       height="400" data-setup='{}'>
                                    <source src='{{ media.key| qiniu_private_url }}' type='video/mp4'/>
                                </video>
                                {% else %}
                                <video id="video-detail-c" class="video-js vjs-default-skin" controls preload="auto"
                                       width="760"
                                       height="400" data-setup='{}'>
                                    <source src='#' type='video/mp4'/>
                                </video>
                                {% endif %}
                            </div>
                            <p>{{ media.name }}</p>
                            {% elif media.type == 'document' %}
                                <p>haha</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="detail-comment-content display-none">
                        <ul id="book-content-list">
                            {% for comment in page_comment.items %}
                                <li>
                                    <div>
                                        <img src="{{ comment.user.avatar }}" alt="">
                                        <h6>{{ comment.user.nickname or comment.user.name }}</h6>
                                    </div>
                                    <span>{{ comment.content }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="comment-pagination">
                            <li>
                                <a href="#">1</a>
                            </li>
                        </ul>
                        <textarea name="" id="comment-textarea" {% if not current_user.is_authenticated() %}
                                  disabled {% endif %}>

                        </textarea>
                        <a href="javascript:;"
                                {% if current_user.is_authenticated() %} id='book-publish-comment' {% endif %}
                           class="book-publish-comment">发布</a>
                    </div>
                </div>

            </div>
            {% if courseware.related_courseware %}
            <div class="other-associate-courseware">
                <p>其他课件相关</p>
                {% for courseware in courseware.related_courseware %}
                <a href="{{ courseware.link }}">
                <div>
                    <img src="{{ courseware.book.cover }}" alt="">

                    <p>{{ courseware.book.name }}</p>
                </div>
                    </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div id="download-box" class="display-none">
        <ul>
            {% for media in courseware.content %}
            <li>
                <span><i class="glyphicon glyphicon-folder-open"></i> 文件： {{media.name}}</span>
                {% if current_user.is_authenticated() %}
                <a href="{{ media.key | qiniu_private_url }}" class="download-button-c" download>下载</a>
                {% else %}
                <a href="#" class="download-button-c" download>下载</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ 'vendor/audiojs/audio.min.js' | vendor_asset }}"></script>
    <script>
        audiojs.events.ready(function () {
            var as = audiojs.createAll();
        });
    </script>
    <script src="{{ 'vendor/video-js/video.js' | vendor_asset }}"></script>
    <!--[if lt IE 9]>
    <script src="{{ 'vendor/video-js/videojs-ie8.min.js'| vendor_asset }}"></script>
    <![endif]-->
    <script src="{{ 'courseware.detail.js' | asset }}"></script>
{% endblock %}