{% extends "base/base.html" %}

{% block leftBar %}
    {% include 'courseware/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-noright-body">

        <span>课件中心-教材配套课件-幼儿园大班-清凉一夏</span>

        <div>
            <div class="product-container">
                <div class="samples-imgs">
                    <img src="" alt="" style="width: 484px;height: 460px;background: #CCCCCC;">
                </div>
                <div class="product-info">
                    <div class="product-title">
                        <h3>清凉一夏</h3><span>幼儿园大班上册 1-5</span>
                    </div>
                    <table>
                        <tr>
                            <td class="product-info-detail">课程内容：</td>
                            <td>xxx</td>
                        </tr>
                        <tr>
                            <td class="product-info-detail">清凉一夏</td>
                            <td>PPT</td>
                        </tr>
                    </table>
                    <div class="product-button">
                        <div class="product-collection">点击下载</div>
                        <div class="product-associate">关联教材</div>
                    </div>
                </div>
            </div>
            <div class="product-detail-comments">
                <div class="detail-comment-title">
                    <div class="book-detail-button">图书详情</div>
                    <div>图书评论</div>
                </div>
                <div class="courseware-comment-content">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            <div class="other-associate-courseware">
                <p>其他课件相关</p>
                <div>
                    <img src="" alt="">
                    <p>xxxxxxxxx</p>
                </div>
                <div>
                    <img src="" alt="">
                    <p>xxxxxxxxx</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}