{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ 'courseware.home.css' | asset }}">
{% endblock %}

{% block leftBar %}
    {% include 'courseware/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-big-body">
        <div class="courseware-slides">
            <div class="courseware-slides-main">
                <ul class="rslides">
                    {% for img_link in slider %}
                    <li>
                        <a href="{{ img_link.link }}">
                        <img src="{{ img_link.image }}" alt="banner">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="video-section-b">
            <div class="section-block-wrapper">
                <div class="section-block-title-6" style="width:700px">教材配套课件</div>
            </div>
            <ul class="video-section-list">
                {% for courseware in courseware_list %}
                    <li>
                        <a href="{{ courseware.link }}">
                            <div class="v-image-wrapper">
                                <img src="{{ '%s?imageView2/2/w/600'|format(courseware.cover) }}" alt="">

                                <div class="v-image-hover-layer">
                                    <div class="v-hover-layer-icon"></div>
                                </div>
                            </div>
                            <h5>{{ courseware.name }}</h5>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!--<div class="video-section-b">-->
            <!--<div class="section-block-wrapper">-->
                <!--<div class="section-block-title-6">其他课件资源</div>-->
            <!--</div>-->
            <!--<ul class="video-section-list">-->
                <!--{% for i in range(6) %}-->
                    <!--<li>-->
                        <!--<a href="/courseware/detail/">-->
                            <!--<div class="v-image-wrapper">-->
                                <!--<img src="{{ url_for('static', filename='image/icons/qinghua.png') }}" alt="">-->

                                <!--<div class="v-image-hover-layer">-->
                                    <!--<div class="v-hover-layer-icon"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<h5>青花瓷</h5>-->
                            <!--<a href="" class="start-download">开始下载</a>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--{% endfor %}-->
            <!--</ul>-->
        <!--</div>-->
    </div>
{% endblock %}

{% block rightBar %}
    {% include 'courseware/right_bar.html' %}
{% endblock %}

{% block js %}
       <script src="{{ 'courseware.home.js' | asset }}"></script>
{% endblock %}