{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='build/css/courseware.css') }}">
{% endblock %}

{% block leftBar %}
    {% include 'courseware/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-school-body">
        <div class="e-page-title">课件中心-教材配套课件-幼小衔接班</div>
        <div class="video-section-lg">
            <h3 style="text-align: center;line-height: 40px;">幼小衔接班</h3>
            <ul class="video-section-list">
                {% for i in range(12) %}
                    <li>
                        <div class="v-image-wrapper">
                            <img src="{{ url_for('static', filename='image/icons/qinghua.png') }}" alt="">

                            <div class="v-image-hover-layer"></div>
                        </div>
                        <h5>青花瓷</h5>
                        <a href="" class="start-download">开始下载</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
       <script src="{{ url_for('static', filename='build/js/courseware.js') }}"></script>
{% endblock %}