{% extends "base/base.html" %}

{% block leftBar %}
    {% include 'courseware/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-school-body">
        <div class="good-lectures">
            <span>课件中心-教材配套课件-幼小衔接班</span>
            <h3>幼小衔接班</h3>
            <ul class="good-lectures-list">
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
                <li>
                    <img src="" alt="">
                    <h5>青花瓷</h5>
                    <a href="" class="start-download">开始下载</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='vendor/js/responsiveslides.js') }}"></script>
    <script src="{{ url_for('static', filename='build/js/youjiao.js') }}"></script>
{% endblock %}