{% extends "base/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ 'courseware.list.css' | asset }}">
{% endblock %}

{% block leftBar %}
{% include 'courseware/left_bar.html' %}
{% endblock %}

{% block content %}
<div id="main-school-body">
    <div class="e-page-title">课件中心-教材配套课件-{{level or '全部课件'}}</div>
    <div class="video-section-lg">
        <h3 style="text-align: center;line-height: 40px;">{{ level or '全部' }}课件</h3>

        <div class="section-block-wrapper">
            <div class="section-block-title-4">班级分类</div>
            <div class="classes-select-wrapper">
                <select name="" id="" class="classes-select">
                    <option value="#" {% if not level %}selected="selected"
                            {% endif %}>全部</option>
                    <option value="?level=幼小衔接班" {% if level=="幼小衔接班" %}
                            selected="selected" {% endif %}>幼小衔接班</option>
                    <option value="?level=大班" {% if level=="大班" %}
                            selected="selected" {% endif %}>大班</option>
                    <option value="?level=中班" {% if level=="中班" %}
                            selected="selected" {% endif %}>中班</option>
                    <option value="?level=小班" {% if level=="小班" %}
                            selected="selected" {% endif %}>小班</option>
                </select>
            </div>
        </div>
        <ul class="video-section-list">
            {% for courseware in courseware_list %}
            <li>
                <a href="{{ courseware.link }}">
                    <div class="v-image-wrapper">
                        <img src="{{ '%s?imageView2/2/w/600'|format(courseware.book.cover) }}" alt="">

                        <div class="v-image-hover-layer">
                            <div class="v-hover-layer-icon"></div>
                        </div>
                    </div>
                    <h5>{{ courseware.name }}</h5>
                </a>
            </li>
            {% else %}
            <h1>相关内容即将上线，敬请期待！</h1>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ 'courseware.list.js' | asset }}"></script>
{% endblock %}