{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ 'courseware.css' | asset }}">
{% endblock %}

{% block leftBar %}
    {% include 'courseware/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-home-body">
        <div class="product-s-slides">
            <div class="product-s-slides-main">
                <ul class="rslides">
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/1.jpeg" style="width: 976px;height: 594px;"
                             alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/2.jpeg" style="width: 976px;height: 594px;"
                             alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/3.jpeg" style="width: 976px;height: 594px;"
                             alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/4.jpeg" style="width: 976px;height: 594px;"
                             alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/5.jpeg" style="width: 976px;height: 594px;"
                             alt=""></li>
                </ul>
            </div>
        </div>
        <div class="video-section-b">
            <div class="section-block-wrapper">
                <div class="section-block-title-4">班级分类</div>
            </div>
            <ul class="video-section-list">
                {% for i in range(4) %}
                    <li style="height: 180px;">
                        <a href="/courseware/detail">
                            <div class="v-image-wrapper">
                                <img src="{{ url_for('static', filename='image/icons/qinghua.png') }}" alt="">
                            </div>
                            <h5>青花瓷</h5>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rank-section">
            <div class="section-block-wrapper">
                <div class="section-block-title-9">教材课件下载排行榜</div>
            </div>
            <div class="rank-section-list">
                <div class="rank-each-list-1">
                    {% for i in range(2) %}
                        <div class="rank-each-item">
                            <a href="">
                                <img src="" alt="">
                                <h4>1.幼教英语</h4>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="rank-each-list">
                    {% for i in range(4) %}
                        <div class="rank-each-item">
                            <a href="">
                                <img src="" alt="">

                                <div>
                                    <h4>2.幼教英语</h4>
                                    <h5>xxxxxx</h5>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="rank-each-list">
                    {% for i in range(4) %}
                        <div class="rank-each-item">
                            <a href="">
                                <img src="" alt="">

                                <div>
                                    <h4>3.幼教英语</h4>
                                    <h5>xxxxxx</h5>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ 'courseware.js' | asset }}"></script>
{% endblock %}