{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ 'courseware.sub_node.css' | asset }}">
{% endblock %}

{% block leftBar %}
    {% include 'courseware/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-home-body">
        <div class="product-s-slides">
            <div class="product-s-slides-main">
                <ul class="rslides">
                    {% for img_link in slider %}
                    <li><img src="{{ img_link.image }}" alt="banner"></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="video-section-b">
            <div class="section-block-wrapper">
                <div class="section-block-title-4">班级分类</div>
                <div class="classes-select-wrapper">
                    <select name="" id="" class="classes-select">
                        <option value="#" {% if not level %}selected="selected"{% endif %}></option>
                        <option value="?level=幼小衔接班" {% if level == "幼小衔接班" %}selected="selected"{% endif %}>幼小衔接班</option>
                        <option value="?level=大班"  {% if level == "大班" %}selected="selected"{% endif %}>大班</option>
                        <option value="?level=中班"  {% if level == "中班" %}selected="selected"{% endif %}>中班</option>
                        <option value="?level=小班"  {% if level == "小班" %}selected="selected"{% endif %}>小班</option>
                    </select>
                </div>
            </div>
            <ul class="video-section-list">
                {% for courseware in courseware_list %}
                    <li style="height: 180px;">
                        <a href="{{ courseware.link }}">
                            <div class="v-image-wrapper">
                                <img src="{{ '%s?imageView2/2/w/300'|format(courseware.cover) }}" alt="">
                            </div>
                            <h5>{{ courseware.name }}</h5>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rank-section">
            <div class="section-block-wrapper">
                <div class="section-block-title-9">教材课件下载排行榜</div>
            </div>
            <div class="rank-section-list">
                <div class="rank-each-list-1">
                    {% for i in range(1, 3) %}
                        <div class="rank-each-item">
                            <a href="{{ top10[i].link }}">
                                <img src="{{ '%s?imageView2/1/w/200'|format(top10[i].cover) }}" alt="">
                                <h4>{{i}}.{{ top10[i].name or ''}}</h4>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="rank-each-list">
                    {% for i in range(3, 7) %}
                        <div class="rank-each-item">
                            <a href="{{ top10[i].link }}">
                                <img src="{{ '%s?imageView2/2/w/200'|format(top10[i].cover) }}" alt="">
                                <div>
                                    <h4>{{ i }}.{{ top10[i].name or ''}}</h4>
                                    <h5>{{ top10[i].name or ''}}</h5>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="rank-each-list">
                    {% for i in range(7, 10) %}
                        <div class="rank-each-item">
                            <a href="{{ top10[i].link }}">
                                <img src="{{ '%s?imageView2/2/w/200'|format(top10[i].cover) }}" alt="">
                                <div>
                                    <h4>{{ i }}.{{ top10[i].name or ''}}</h4>
                                    <h5>{{ top10[i].name or '' }}</h5>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <!--{% for i in range(4) %}-->
                        <!--<div class="rank-each-item">-->
                            <!--<a href="">-->
                                <!--<img src="" alt="">-->

                                <!--<div>-->
                                    <!--<h4>3.幼教英语</h4>-->
                                    <!--<h5>xxxxxx</h5>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--{% endfor %}-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ 'courseware.sub_node.js' | asset }}"></script>
{% endblock %}