{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='build/css/courseware.css') }}">
{% endblock %}

{% block leftBar %}
    {% include 'courseware/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-home-body">
        <div class="product-s-slides">
            <div class="product-s-slides-main">
                <ul class="rslides">
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/1.jpeg" style="width: 976px;height: 594px;" alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/2.jpeg" style="width: 976px;height: 594px;" alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/3.jpeg" style="width: 976px;height: 594px;" alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/4.jpeg" style="width: 976px;height: 594px;" alt=""></li>
                    <li><img src="http://7xj2zj.com2.z0.glb.qiniucdn.com/5.jpeg" style="width: 976px;height: 594px;" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="video-section-b">
            <div class="section-block-wrapper">
                <div class="section-block-title-4">班级分类</div>
            </div>
            <ul class="video-section-list">
                {% for i in range(4) %}
                    <li>
                        <a href="/courseware/detail">
                            <div class="v-image-wrapper">
                                <img src="{{ url_for('static', filename='image/icons/qinghua.png') }}" alt="">

                                <div class="v-image-hover-layer">
                                    <div class="v-hover-layer-icon"></div>
                                </div>
                            </div>
                            <h5>青花瓷</h5>
                            <a href="" class="start-download">开始下载</a>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rank-section">
            <div class="section-block-wrapper">
                <div class="section-block-title-9">教材课件下载排行榜</div>
            </div>
            <div class="rank-section-list">
                <div class="rank-section-list-t">
                    <div class="rank-section-list-l">
                        <img src="" alt="">
                        <h5>1.xx幼儿英语</h5>
                    </div>
                    <div class="rank-section-list-c">
                        <div class="rank-section-list-tct">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>3.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                        <div class="rank-section-list-tcb">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>4.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rank-section-list-r">
                        <div class="rank-section-list-trt">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>7.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                        <div class="rank-section-list-trb">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>8.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rank-section-list-b">
                    <div class="rank-section-list-l">
                        <img src="" alt="">
                        <h5>2.xx幼儿英语</h5>
                    </div>
                    <div class="rank-section-list-c">
                        <div class="rank-section-list-bct">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>5.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                        <div class="rank-section-list-bcb">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>6.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rank-section-list-r">
                        <div class="rank-section-list-brt">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>9.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                        <div class="rank-section-list-brb">
                            <div class="rank-list-item">
                                <img src="" alt="">

                                <div>
                                    <h5>10.xxx孩子好性格</h5>
                                    <h6>sssssssssss</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
       <script src="{{ url_for('static', filename='build/js/courseware.js') }}"></script>
{% endblock %}