<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>61幼教网</title>
    <link rel="stylesheet" href="{{ 'commons.css' | asset }}">
    {% block css %}
    {% endblock %}
    <!--[if lt IE 9]>
        <script src="{{ 'vendor/js/html5shiv.min.js' | vendor_asset }}"></script>
        <script src="{{ 'vendor/js/html5shiv-printshiv.min.js'| vendor_asset }}"></script>
    <![endif]-->
</head>
<body>
<div id="youjiao-body">

    {% include 'base/header.html' %}

    <div class="main">

        {% block leftBar %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block rightBar %}
        {% endblock %}
    </div>
    <div class="footer-wrapper">
        <div class="footer">
            <div class="footer-sub-wrapper">
                <div>
                    <ul>
                        <li class="list-style-none"><a href="{{ url_for('activity_content.page_about') }}">关于61幼教网</a>
                        </li>
                        <li><a href="">了解61幼教网</a></li>
                        <li><a href="">加入61幼教网</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="list-style-none"><a href="">帮助中心</a></li>
                        <li><a href="">购买指南</a></li>
                        <li><a href="">疑难帮助</a></li>
                        <li><a href="">售后服务</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="list-style-none"><a href="">服务支持</a></li>
                        <li><a href="">下载中心</a></li>
                        <li><a href="">61幼教网新语</a></li>
                        <li><a href="">经销在线订单</a></li>
                        <li><a href="">统一登陆平台</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="list-style-none"><a href="">关注我们</a></li>
                        <li><a href="">新浪微薄</a></li>
                        <li><a href="">官方微信</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <span>©版权所有 61幼教网</span>
            </div>
        </div>
    </div>
</div>
<script src="{{ 'vendor/js/jquery.min.js' | vendor_asset }}"></script>
<script src="{{ 'commons.js' | asset }}"></script>
{% block js %}
{% endblock %}
</body>
</html>