<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='build/css/youjiao.css') }}">
    {% block css %}
    {% endblock %}
</head>
<body>
<div id="youjiao-body">

    {% include 'base/header.html' %}

    <div class="main">

        {% block leftBar %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block rightBar %}
        {% endblock %}
    </div>
    <div class="footer-wrapper">
        <div class="footer">
            <div>
                <ul>
                    <li class="list-style-none"><a href="/page/about/">关于61幼教网</a></li>
                    <li><a href="">了解61幼教网</a></li>
                    <li><a href="">加入61幼教网</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
                <ul>
                    <li class="list-style-none"><a href="">帮助中心</a></li>
                    <li><a href="">购买指南</a></li>
                    <li><a href="">疑难帮助</a></li>
                    <li><a href="">售后服务</a></li>
                </ul>
                <ul>
                    <li class="list-style-none"><a href="">服务支持</a></li>
                    <li><a href="">下载中心</a></li>
                    <li><a href="">61幼教网新语</a></li>
                    <li><a href="">经销在线订单</a></li>
                    <li><a href="">统一登陆平台</a></li>
                </ul>
                <ul>
                    <li class="list-style-none"><a href="">关注我们</a></li>
                    <li><a href="">新浪微薄</a></li>
                    <li><a href="">官方微信</a></li>
                </ul>
            </div>
            <div class="copyright">
                <span>©版权所有 61幼教网</span>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='vendor/js/jquery-1.11.3.min.js') }}"></script>
{% block js %}
{% endblock %}
</body>
</html>