<div class="header">
    <div class="nav-wrapper">
        <div class="youjiao-logo">
            <a href="/"><img src="{{ url_for('static',filename='image/icons/61Logo.png') }}" alt=""></a>
        </div>
        <div class="youjiao-nav">
            <ul>
                <li><a class="nav-active" href="/">首页</a></li>
                <li><a href="/category/policy/">幼教动态</a></li>
                <li><a href="/product/">产品</a></li>
                <li><a href="/category/policy/">教学教研</a></li>
                <li><a href="/courseware/">课件中心</a></li>
                <li class="border-right-none"><a href="/school/">幼教网课</a></li>
            </ul>
        </div>
        <div class="header-right">
            <div class="header-right-top">
                <span>关于61幼教网</span>
                {% if current_user.is_authenticated() %}
                    Hi {{ current_user.name }}
                {% else %}
                <span class="header-login"><a href="/login">登陆</a> / <a href="/register">注册</a></span>
                {% endif %}
            </div>
            <div class="search-input">
                <input type="text">
                <a class="search-button" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>