{% extends "common/template_base_noright.html" %}

{% block leftBar %}
    {% include 'products/left_bar.html' %}
{% endblock %}

{% block content %}
    {#        {% autoescape off %}#}
    {#            {{ page_content }}#}
    {#        {% endautoescape %}#}
    <div>
        <ul class="slide-banner">
            <li><img src="http://dummyimage.com/900x321/ccc/fff" alt=""></li>
            <li><img src="http://dummyimage.com/900x321/ccc/fff" alt=""></li>
            <li><img src="http://dummyimage.com/900x321/ccc/fff" alt=""></li>
        </ul>
    </div>

    <div>
        <h3>幼教图书分类</h3>
        <ul class="textbook-list">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div>
        <h3>幼教教材排行榜</h3>

        <div class="textbook-rank">
            <div class="textbook-rank-1"></div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}vendor/js/responsiveslides.js"></script>
    <script>
        $(function () {
            $(".slide-banner").responsiveSlides({
                pager: true
            });
        });
    </script>
{% endblock %}