{% extends "base/base.html" %}

{% block leftBar %}
    {% include 'activity/left_bar.html' %}
{% endblock %}

{% block content %}
<div id="main-noright-body">

    <span>幼教动态-幼教政策-{{ activity.title }}</span>
    <div class="activity-content">
        <h2 class="activity-title">{{ activity.title }}</h2>

        <div class="activity-author">
            来源： 中国学前教育研究会 2015年06月20日 作者：admin
        </div>
        <div class="activity-main-content">
            {% autoescape off %}
            {{ activity.html }}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}