{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ 'activity.css' | asset }}">
{% endblock %}

{% block leftBar %}
    {% include 'activity/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-body">
        <div class="e-page-title">幼教动态 {{ category_name }}</div>

        <ul class="news-list">
            {% if activity_list.items %}
            {% for activity in activity_list.items %}
                <li>
                    <a href="{{ url_for('activity_content.activity_view', id=activity.id) }}">{{ activity.title }} <span
                            class="news-date float-right">[{{ activity.create_time.date() }}]</span></a>
                </li>
            {% endfor %}
            {% else %}
            <h3>内容更新中</h3>
            {% endif %}
        </ul>

        <ul class="activity-pagination">
{#                        {% if activity_list.has_prev %}#}
{#                            <li><a class="pagination-first"><<</a></li>#}
{#                        {% endif %}#}
            {% for page in activity_list.iter_pages() %}
                {% if page %}
                    {% if page != activity_list.page %}
                        <li>
                            <a href="{{ url_for('activity_content.category', category=category_url) }}/?page={{page}}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="pagination-active"><a href="javascript:;">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>…</span>
                {% endif %}
            {% endfor %}
{#            {% if activity_list.has_next %}#}
{#                <li class="pagination-last"></li>#}
{#            {% endif %}#}
        </ul>
    </div>
{% endblock %}

{% block rightBar %}
    {% include 'activity/right_bar.html' %}
{% endblock %}

{% block js %}
    <script src="{{ 'activity.js' | asset }}"></script>
{% endblock %}