{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='build/css/activity.css') }}">
{% endblock %}

{% block leftBar %}
    {% include 'activity/left_bar.html' %}
{% endblock %}

{% block content %}
    <div id="main-body">
        <div class="e-page-title">幼教动态</div>
        <ul class="news-list">
            {% for activity in activity_list %}
                <li>
                    <a href="/activity/{{ activity.id }}">{{ activity.title }} <span
                            class="news-date float-right">[2015-06-29]</span></a>
                </li>
                <li>
                    <a href="/activity/{{ activity.id }}">{{ activity.title }} <span
                            class="news-date float-right">[2015-06-29]</span></a>
                </li>
                <li>
                    <a href="/activity/{{ activity.id }}">{{ activity.title }} <span
                            class="news-date float-right">[2015-06-29]</span></a>
                </li>
            {% endfor %}
        </ul>
        <ul class="activity-pagination">
            <li class="pagination-first"></li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li class="pagination-last"></li>
        </ul>
    </div>
{% endblock %}

{% block rightBar %}
    {% include 'activity/right_bar.html' %}
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='build/js/activity.js') }}"></script>
{% endblock %}