<div class="left-bar">
    <ul class="left-bar-subul-last">
        <li class="left-list-first"><a href="javascript:;">幼教动态</a></li>
        <li><a href="{{ url_for('activity_content.category', category='policy') }}">幼教政策</a></li>
        <li><a href="{{ url_for('activity_content.category', category='news') }}">幼教新闻</a></li>
        <li><a href="{{ url_for('activity_content.category', category='events') }}">幼教事件</a></li>
        <li><a href="{{ url_for('activity_content.category', category='research') }}">理论研究</a></li>
        <li><a href="{{ url_for('activity_content.category', category='activity') }}">实践活动</a></li>
    </ul>
{#    <div class="left-adposition">#}
{#        <img src="{{ url_for('static', filename='image/a-d.png') }}" alt="" style="width: 180px;height: 720px;">#}
{#    </div>#}
</div>