<div class="left-bar">
    <ul class="left-bar-subul-last">
        <li class="left-list-first"><a href="javascript:;">幼教动态</a></li>
        <li><a href="{{ url_for('activity_content.category', category='policy', page=1) }}">幼教政策</a></li>
        <li><a href="{{ url_for('activity_content.category', category='news', page=1) }}">幼教新闻</a></li>
        <li><a href="{{ url_for('activity_content.category', category='events', page=1) }}">幼教事件</a></li>
        <li><a href="{{ url_for('activity_content.category', category='research', page=1) }}">理论研究</a></li>
        <li><a href="{{ url_for('activity_content.category', category='activity', page=1) }}">实践活动</a></li>
    </ul>
    <div class="left-adposition">
        <img src="{{ url_for('static', filename='image/a-d.png') }}" alt="" style="width: 180px;height: 720px;">
    </div>
</div>