{% extends "base/base.html" %}

{% block css %}
   <link href="{{ url_for('static', filename='vendor/css/body.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
   <div id="div1">
   <div id="left">   <!--左边部分-->
        <img src="">
       <span>Laura</span>
       <h4>普通会员</h4>
       <ul>
           <li style="background:white"><span>个人资料</span></li>
           <li><span>学习记录</span></li>
           <li><span>我的院所</span></li>
           <li><span>我的收藏</span></li>
           <li><span>消费记录</span></li>
       </ul>
   </div>

   <div class="right" >   <!--右边第一部分-->
       <div class="right_top">
           <div class="right_top_module2"></div><div class="right_top_module"><span>个人资料</span></div> <div class="right_top_module3"></div>
       </div>
       <div class="right_second">
           <span>基本资料</span>
           <h4 >头像设置</h4>
           <h4>密码修改</h4>
           </div>
       <div id="right_body">
           <ul>
               <li><span>用户名:</span><input type="text" value="laura"></li>
               <li><span style="letter-spacing:20px;">邮箱</span><input type="text" value="laura"></li>
               <li><span>手机号:</span><input type="text" value="laura"></li>
               <li><span style="letter-spacing:20px;">生日</span><select><option >1990</select><select><option >01</select><select><option >01</select></li>
               <li><span style="letter-spacing:20px;">性别</span><input style="width:20px;" name="aaa"type="radio"><h6>男</h6> <input style="width:20px;margin-left:20px" name="aaa" type="radio"><h6>女</h6></li>
               <li><span style="letter-spacing:20px;">职业</span><select style="width:220px"><option >-教师-</select></li>
               <li><span style="letter-spacing:0px;" >所在单位:</span><input type="text" value="laura"></li>
               <li><span style="letter-spacing:0px;">所在地区:</span><select><option >-省份-</select><select><option >-城市-</select><select><option >-县区-</select></li>
               <li style="margin-top:6px;"><span></span><div id="button"><h5>编辑资料</h5></div></li>
           </ul>
       </div>
       <div id="right_body_image">
          <div id="right_body_image1">
              <span >上传本地照</span>
              <span style="margin-left:0;" >摄像头拍照</span>
          </div>
           <div id="right_body_image2">
               <div id="right_body_image3">
                  <div id="button2">
                      <div id="square1"></div>
                      <div id="square2"></div>
                  </div>
                   <span>请点击按钮选择图片</span>
                   </div>
               </div>
             <h4>仅支持JPG、JPGE、GIF、PNG的图片格式文件不能大于</h4>
           </div>
       <div id="right_body_password">
           <ul>
               <li><span>当前密码:</span><input type="text"></li>
               <li><span>新密码:</span><input type="text"></li>
               <li><span>确认密码:</span><input type="text"></li>
           </ul>
           <div id="alert"><h4>编辑资料</h4></div>
    </div>
   </div>

   <div   class="right" style="display:none"> <!--右边第二部分-->
        <div class="right_top">
            <div class="right_top_module2"></div><div class="right_top_module"><span>学习记录</span></div> <div class="right_top_module3"></div>
       </div>
       <div class="right_second">
           <span style="width:100px">课件学习记录</span>
       </div>
       <div class="study_record">
           <ul>
               <li><img src=""><span>青花瓷</span></li>
                <li><img src=""><span>青花瓷</span></li>
                <li><img src=""><span>青花瓷</span></li>
                <li><img src=""><span>青花瓷</span></li>
                <li><img src=""><span>青花瓷</span></li>
                <li><img src=""><span>青花瓷</span></li>
                <li><img src=""><span>青花瓷</span></li>
                <li><img src=""><span>青花瓷</span></li>
           </ul>
       </div>
   </div >

   <div class="right" style="display: none"> <!--右边第三部分-->
       <div class="right_top">
            <div class="right_top_module2"></div><div class="right_top_module"><span>我的园所</span></div> <div class="right_top_module3"></div>
       </div>
       <div class="right_second">
           <span style="width:100px">关键词查找</span>
           <h4 >按地区查找</h4>
       </div>
       <div class="research" >
         <div class="keyword">
            <span>关键词:</span> <input type="text"><div id="button3"><h4>搜索</h4></div>
         </div>
           <div class="keyword" style="display: none">
                 <span>所在地区:</span> <select><option >-省份-</select><select><option >-城市-</select><select><option >-县区-</select><div id="button3"><h4>搜索</h4></div>
           </div>
           <div class="titleName">
            <span>名称</span> <span>创始人</span> <span>地址</span>
           </div>
           <ul>
               <li><span>xx幼儿园</span><span style="margin-right: 120px">用户名</span><span>江西省南昌市洪都北大道</span><div class="button4"><h4>审核中</h4></div></li>
               <li><span>xx幼儿园</span><span style="margin-right: 120px">用户名</span><span>江西省南昌市洪都北大道</span><div class="button5"><h4>加入</h4></div></li>
               <li><span>xx幼儿园</span><span style="margin-right: 120px">用户名</span><span>江西省南昌市洪都北大道</span><div class="button5"><h4>加入</h4></div></li>
               <li><span>xx幼儿园</span><span style="margin-right: 120px">用户名</span><span>江西省南昌市洪都北大道</span><div class="button5"><h4>加入</h4></div></li>
               <li><span>xx幼儿园</span><span style="margin-right: 120px">用户名</span><span>江西省南昌市洪都北大道</span><div class="button5"><h4>加入</h4></div></li>
               <li><span>xx幼儿园</span><span style="margin-right: 120px">用户名</span><span>江西省南昌市洪都北大道</span><div class="button5"><h4>加入</h4></div></li>
               <li><span>xx幼儿园</span><span style="margin-right: 120px">用户名</span><span>江西省南昌市洪都北大道</span><div class="button5"><h4>加入</h4></div></li>
               <li><span>xx幼儿园</span><span style="margin-right: 120px">用户名</span><span>江西省南昌市洪都北大道</span><div class="button5"><h4>加入</h4></div></li>
           </ul>
       </div>
   </div>

   <div class="right" style="display: none"><!--右边第四部分-->
       <div class="right_top">
            <div class="right_top_module2"></div><div class="right_top_module"><span>我的收藏</span></div> <div class="right_top_module3"></div>
       </div>
       <div class="right_second">
           <span>教材收藏</span>
           <h4 >产品收藏</h4>
           <h4>课件收藏</h4>
           </div>
       <div id="MyCollection2">
       <div id="MyCollection">
       <ul>
           <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
            <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
            <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
            <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
            <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
            <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
            <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
            <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
           <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
           <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
           <li><div id="price_image"><img src=""><span>30.00元/套</span></div><h4>有趣的手影</h4><h6>取消收藏</h6></li>
       </ul>
       </div>
       </div>
       <div class="study_record" style="display: none">
           <ul>
               <li style="height:195px"><img src=""><span>青花瓷</span><h4>取消收藏</h4></li>
               <li style="height:195px"><img src=""><span>青花瓷</span><h4>取消收藏</h4></li>
               <li style="height:195px"><img src=""><span>青花瓷</span><h4>取消收藏</h4></li>
               <li style="height:195px"><img src=""><span>青花瓷</span><h4>取消收藏</h4></li>
               <li style="height:195px"><img src=""><span>青花瓷</span><h4>取消收藏</h4></li>
               <li style="height:195px"><img src=""><span>青花瓷</span><h4>取消收藏</h4></li>
               <li style="height:195px"><img src=""><span>青花瓷</span><h4>取消收藏</h4></li>
               <li style="height:195px"><img src=""><span>青花瓷</span><h4>取消收藏</h4></li>
           </ul>
       </div>
   </div>

   <div class="right" style="display: none"><!--右边第五部分-->
       <div class="right_top">
            <div class="right_top_module2"></div><div class="right_top_module"><span>消费记录</span></div> <div class="right_top_module3"></div>
       </div>
       <div id="ConsumeRecord">
        <div id="ConsumeTitle">
      <span>商品名称</span><span>购买时间</span><span>到期时间</span><span>购买方式</span>
        </div>
           <ul>
               <li> <h4>vip会员</h4><h4>2014-7-30</h4><h4>2014-10-30</h4><h6>立即激活</h6></li>
               <li> <h4>vip会员</h4><h4>2014-7-30</h4><h4>2014-10-30</h4><h6>立即激活</h6></li>
               <li> <h4>vip会员</h4><h4>2014-7-30</h4><h4>2014-10-30</h4><h6>立即激活</h6></li>
               <li> <h4>vip会员</h4><h4>2014-7-30</h4><h4>2014-10-30</h4><h6>立即激活</h6></li>
               </ul>
       </div>
   </div>

    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='src/js/body.js') }}"></script>

{% endblock %}
